{% extends 'uw_inventory/item_base.html' %}
{% load uw_forms_form_tags %}
{% load uw_forms_field_tags %}
{% load uw_forms_format_tags %}
{% load uw_inventory_model_tags %}

{% block page_heading %}New Inventory Item{% endblock page_heading %}

{% block page_body %}
  <form action="{% url 'uw_inventory.views.inventory_add' %}"
      method="post"
      id="itemForm"
      enctype="multipart/form-data">
    {% for key,fs in formsets.items %}
      {{ fs.management_form }}
    {% endfor %}
    {% add_form form %}
    <div class="form-group list-group-item clearfix">
      <div class="col-xs-3">
        <label for="inputSopFile" class="control-label">SOP</label>
      </div>
      <div class="col-xs-8">
        {{ formsets.sop.empty_form.as_p|prefix }}
      </div>
    </div>
    {% show_files perms.uw_inventory.add_itemfile perms.uw_inventory.change_itemfile perms.uw_inventory.view_deleted_itemfile %}

    {% show_comments formsets.comment.forms perms.uw_inventory.add_comment %}
  </form>
  {{ block.super }}
{% endblock page_body %}

{% block js_includes %}
  {{ block.super }}

  {# In principle I could wrap most of this code in permission guard, as I do on other pages #}
  {# In practice though, there's no point; permission verification occurs when the page is loaded #}

  <script type="text/javascript">
    $('#pageSave').removeAttr('disabled');
  </script>
  
  <script type="text/javascript">
    {# It's easier to hide the empty paragraph using jQuery than removing it in Django #}
    $('p.form-control-static').addClass('hidden')

    var onChangeHandler = function(event){
      {# Empty values aren't considered 'changes' #}
      var hasChanged;
      if(event.target.value === ''){
        hasChanged = false;
      } else{
        hasChanged = true;
      }

      $(window).trigger('pagechanges', hasChanged);
    }

    $('select').change(onChangeHandler);
    $('input').change(onChangeHandler);
    $('textarea').change(onChangeHandler);
    {# Special case for special widgets #}
    $('i.checkbox-2').on('classChange', function(event){
      {# Most checkboxes are unchecked by default, so this would be a change #}
      var hasChanged = $(this).hasClass('checked');

      {# However, sop_required is checked by default #}
      if($(this).is('#inputSopRequired')){
        hasChanged = !hasChanged;
      }
      $(window).trigger('pagechanges', hasChanged);
    });
  </script>

  <script type="text/javascript">
    $('input#inputTechId').change(function(event){
      $(this).parents('.list-group-item').removeClass('list-group-item-danger has-error');
      $(this).siblings('ul.errorlist').remove();
      
      var newValue = event.target.value
      {# Custom validation of Tech_ID field #}
      {# It would eventually be nice to attach this to the widget #}
      if(newValue.search(new RegExp('^[a-z]{2}-?\\d*$')) === 0){
        {# If the value is plausibly similar, we massage it into the right form #}
        var formattedValue = newValue.substring(0,2).toUpperCase() + '-';
        formattedValue += newValue.substring(Math.max(1, newValue.indexOf('-')) + 1)
        event.target.value = formattedValue;
      } else{
        $(this).parents('.list-group-item').addClass('list-group-item-danger has-error');
        $(this).parent().append('<ul class="errorlist"><li>Must be of the form AA-00000</li></ul>');
      }
    });
  </script>
{% endblock js_includes %}