{% extends 'uw_inventory/item_base.html' %}
{% load uw_forms_form_tags %}

{% block page_heading %}New Inventory Item{% endblock page_heading %}

{% block page_body %}
  {% add_form form 'itemForm' 'uw_inventory.views.inventory_add' formsets %}
  {{ block.super }}
{% endblock page_body %}

{% block js_includes %}
  {{ block.super }}
  
  <script type="text/javascript">
    $('#pageSave').removeAttr('disabled');
  </script>
  
  <script type="text/javascript">
    {# It's easier to hide the empty paragraph using jQuery than removing it in Django #}
    $('p.form-control-static').addClass('hidden')

    var onChangeHandler = function(event){
      {# Empty values aren't considered 'changes' #}
      if(event.target.value === ''){
        pageDirty = false;
      } else{
        pageDirty = true;
      }
    }

    $('select').change(onChangeHandler);
    $('input').change(onChangeHandler);
    $('textarea').change(onChangeHandler);
    {# Special case for special widgets #}
    $('i.checkbox').on('classChange', function(event){
      {# Most checkboxes are unchecked by default, so this would be a change #}
      pageDirty = $(this).hasClass('fa-check-square-o');

      {# However, sop_required is checked by default #}
      if($(this).is('#inputSopRequired')){
        pageDirty = !pageDirty;
      }
    });
  </script>

  <script type="text/javascript">
    $('input#inputTechId').change(function(event){
      var newValue = event.target.value
      {# Custom validation of Tech_ID field #}
      if(newValue.search(new RegExp('^[a-z]{2}-?\\d*$')) === 0){
        {# If the value is plausibly similar, we massage it into the right form #}
        var formattedValue = newValue.substring(0,2).toUpperCase() + '-';
        formattedValue += newValue.substring(Math.max(1, newValue.indexOf('-')) + 1)
        event.target.value = formattedValue;
      } else{
        $('input#inputTechId').parents('.list-group-item').addClass('list-group-item-danger has-error');
        $('input#inputTechId').parent().append('<ul class="errorlist"><li>Must be of the form AA-00000</li></ul>');
      }
    });
  </script>
{% endblock js_includes %}