{% load uw_inventory_misc_tags %}

<div class="form-group list-group-item clearfix">
  <div class="col-xs-2">
    <label class="control-label">Comments</label>
  </div>
  <div class="col-xs-10">
    {% if can_add %}
      <div class="panel panel-default" align="center" id="add-comments-container">
        {% icon 'add-item fa-2x' id='add-comment' %}
      </div>
    {% endif %}
    
    <div id="comments-list">
      {% for comment in comment_set|dictsortreversed:"creation_date" %}
        {% include 'uw_inventory/comment_detail.html' with comment=comment saved=True %}
      {% endfor %}
    </div>
  </div>
</div>