{% extends 'uw_inventory/item_base.html' %}
{% load uw_forms_form_tags %}
{% load uw_forms_field_tags %}
{% load uw_forms_format_tags %}

{% block gutter_nav %}
  {% if perms.uw_inventory.add_inventoryitem %}  
    <li class="list-group-item">
      <a href="{% url 'uw_inventory.views.inventory_copy' inventory_item.id %}">
        <i class="fa fa-files-o navigate" id="duplicate"></i> Duplicate
      </a>
    </li>
  {% endif %}
  {% if perms.uw_inventory.change_inventoryitem %}  
    <li class="list-group-item">
      <a href="{% url 'uw_inventory.views.inventory_delete' inventory_item.id %}">
        <i class="fa fa-trash navigate"></i> Delete
      </a>
    </li>
  {% endif %}
{% endblock gutter_nav %}

{% block page_heading %}
  <span class="panel-title">{{ inventory_item.uuid }}</span>
  <span class="small pull-right">Last modified: {{ inventory_item.last_modified }}</span>
{% endblock page_heading %}

{% block page_body %}
  <form id="itemForm"
        method="post"
        action="{% url 'uw_inventory.views.inventory_detail' inventory_item.id %}"
        enctype="multipart/form-data">

    {% for key,fs in formsets.items %}
      {{ fs.management_form }}
    {% endfor %}

    {% edit_form form perms.uw_inventory.change_inventoryitem shown_excluded_fields %}

    {# Putting this template here makes me cry, but it works for now #}
    <div class="form-group list-group-item clearfix">
      <div class="col-xs-3">
        <label for="inputSopFile" class="control-label">SOP</label>
      </div>
      <div class="col-xs-8">
        <p class="form-control-static" id="inputSopFile">
          <a href="{% url 'uw_inventory_system.views.file_view' formsets.sop.forms.0.instance.file.name %}">
            {% if formsets.sop.forms.0.instance.description %}
              {{ formsets.sop.forms.0.instance.description }}
            {% else %}
              {{ formsets.sop.forms.0.instance.file.name|filename }}
            {% endif %}
          </a>
        </p>

        <div class="hidden" id="sop-form-container">
        {% if formsets.sop.forms %}
          {{ formsets.sop.forms.0.as_p }}
        {% else %}
          {{ formsets.sop.empty_form.as_p|prefix }}
        {% endif %}
        <input type="text" class="persist-hidden" id="file-description-default" value="{{ formsets.sop.forms.0.instance.description }}">
        </div>
      </div>
      {% if perms.uw_inventory.change_itemfile %}
        <div class="col-xs-1">
          <i class="fa fa-check save hidden" for="inputSopFile"></i>
          <i class="fa fa-times cancel hidden" for="inputSopFile"></i>
          <i class="fa fa-pencil edit" for="inputSopFile"></i>
        </div>
      {% endif %}
    </div>
    {% show_files perms.uw_inventory.add_itemfile perms.uw_inventory.change_itemfile formsets.file %}

    <div id="notes-form-container">
      
    </div>
  </form>
  {{ block.super }}
{% endblock page_body %}

{% block js_includes %}
  {{ block.super }}

  {% if perms.uw_inventory.change_inventoryitem %}
    <script type="text/javascript">
    {# An extra message if we're trying to duplicate with unsaved changes #}
    $("#duplicate").parent().click(function(){
      if(pageDirty){
        $('#confirmExitModal').find('.modal-body').append("<p>Unsaved changes will not be duplicated.</p>");
      }
    });
    </script>

    <script type="text/javascript">
      {# As with the paragraphs in the add page, it's easier to hide the form elements here than with Django #}
      $('.item-input').addClass('hidden');
    </script>

    <script type="text/javascript">
      {# This function performs all the magic of adding and removing edit states #}
      var editClickHandler = function(context){
        var editTarget = context.attr('for');
        var paragraph = $('p#' + editTarget);
        paragraph.toggleClass('hidden');
        {# We're using broad stroked to render the input elements visible, which will bite us later #}
        paragraph.siblings().toggleClass('hidden');
        editMenuToggle(editTarget);
      }

      var editMenuToggle = function(editTarget){
        {# We could have used a class rather than the for attribute, but this is more semantically meaningful #}
        $('i[for="' + editTarget + '"]').toggleClass('hidden');
        $('.form-element#' + editTarget).focus(); {# Autofocus for usability goodness #}
      }

      $('.edit').click(function(){
        editClickHandler($(this));
      });

      $('.cancel').click(function(){
        editClickHandler($(this));
      });

      $('.save').click(function(){
        var saveText; {# This will eventually go in the "saved" <p> tag text #}
        var hasChanged = false;
        var paragraph = $('p#' + $(this).attr('for'));

        {# This line looks up from the pragraph for the parent div, then down for the input element #}
        var inputControl = paragraph.closest('div').find('.form-element');

        if(inputControl.length > 0){
          var original = inputControl.parents('div.form-group').find('span.default-value')[0].textContent.trim();
          if(inputControl.is('select')){
            {# inputControl was formerly the select box itself, but we need the selected option #}
            inputControl = inputControl.find('option:selected');

            saveText = inputControl[0].text;
          } else if(inputControl.is('input[type="date"]')){
            {# Need to do this because sending the string alone into the Date constructor will #}
            {#   interpret the data as UTC, but we want it to be Eastern time #}
            var dateStr = inputControl[0].value;
            if(dateStr){
              var dateArr = dateStr.split('-');
              var date = new Date(dateArr[0], dateArr[1] - 1, dateArr[2]);

              {# Keeps a consistent formatting on the date. We could do this with native JS, but this is cleaner #}
              saveText = $.datepicker.formatDate('M. d, yy', date);
            } else{
              saveText = '';
            }
          } else if(inputControl.is('i.checkbox')){
            saveText = (inputControl.hasClass('fa-check-square-o') ? 'Yes' : 'No');
          } else if(inputControl.is('.ui-autocomplete-input')){
            saveText = (inputControl[0].value == inputControl.placeholder ? '' : inputControl[0].value);
            var toSave;
            if(saveText === ''){
              toSave = '';
            } else {
              toSave = inputControl.attr('to-save');
            }
            {# More magic here, because the autocomplete widget sends the name value but we need the id #}
            inputControl[1].setAttribute('value', toSave);
          } else {
            {# We don't want to display placeholder text #}
            saveText = (inputControl[0].value == inputControl.placeholder ? '' : inputControl[0].value);
          }

          hasChanged = (saveText !== original) {# Here, blank values are considered a change #}
          
        } else { {# No inputControl - probably means this is the SOP field #}
          inputControl = $('#sop-form-container');
          var new_file_name = inputControl.find('[type="file"]').val();
          if(new_file_name) new_file_name = new_file_name.formatFilename();
          var new_description = inputControl.find('#inputDescription').val();

          saveText = new_description || new_file_name || paragraph[0].textContent.trim();
          hasChanged = (new_file_name !== '') ||
                       (new_description !== inputControl.find('#file-description-default').attr('value'));
        }

        if(hasChanged){ {# Have we made a change? #}
          inputControl.parents('div.form-group').addClass('list-group-item-warning has-warning');
        } else{ {# Are we back to original? #}
          inputControl.parents('div.form-group').removeClass('list-group-item-warning has-warning');
        }
        $(window).trigger('pagechanges', hasChanged); {# Here's that event from earlier #}

        paragraph[0].textContent = saveText;

        editClickHandler($(this));
      });
    </script>
  {% endif %}
{% endblock js_includes %}