{% extends 'uw_inventory/item_base.html' %}
{% load staticfiles %}
{% load uw_forms_form_tags %}
{% load uw_forms_field_tags %}
{% load uw_forms_format_tags %}
{% load uw_inventory_model_tags %}
{% load uw_custom_field_field_tags %}
{% load uw_inventory_misc_tags %}

{% block css_includes %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" media="print" href="{% static 'uw_inventory/detail_print.css' %}">
{% endblock css_includes %}

{% block form_messages %}
  {% if not inventory_item.to_display %}
    <div class="alert alert-info" role="alert" style="max-width:25%">
      This item has been deleted.
    </div>
  {% endif %}
{% endblock form_messages %}

{% block gutter_nav %}
  {{ block.super }}
  <li class="list-group-item">
    <a id="item-print">
      {% icon 'print' %} Print
    </a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'uw_inventory.views.inventory_label' inventory_item.id %}">
      {% icon 'fa-tag' %} Print Label
    </a>
  </li>

  <li class="list-group-item">
    <a href="{{ inventory_item|admin_url }}">
      {% icon 'history' %} History
    </a>
  </li>

  {% if perms.uw_inventory.add_inventoryitem %}  
    <li class="list-group-item">
      <a href="{% url 'uw_inventory.views.inventory_copy' inventory_item.id %}">
        {% icon 'copy navigate' id='duplicate' %} Duplicate
      </a>
    </li>
  {% endif %}
  {% if perms.uw_inventory.change_inventoryitem %}  
    <li class="list-group-item">
      {% if inventory_item.to_display %}
        <a id="item-delete">
          {% icon 'delete navigate fa-fw' %} Delete
        </a>
      {% else %}
        <a href="{% url 'uw_inventory.views.inventory_undelete' inventory_item.id %}">
          {% icon 'restore navigate fa-fw' %} Restore
        </a>
      {% endif %}
    </li>
  {% endif %}
{% endblock gutter_nav %}

{% block print_header %}
  <div class="row" id="print-header" style="display:none">
    <h1 class="pull-left">{{ inventory_item.uuid }}</h1>
    <div id="qr-code" class="pull-right">
      <img src="{{ inventory_item.qr_code.url }}" style="width:25%">
    </div>
  </div>
{% endblock print_header %}

{% block page_heading %}
  <span class="panel-title">{{ inventory_item.uuid }}</span>
  <span class="small pull-right">Last modified: {{ inventory_item.last_modified }}</span>
{% endblock page_heading %}

{% block page_body %}
  <form id="itemForm"
        method="post"
        action="{% url 'uw_inventory.views.inventory_detail' inventory_item.id %}"
        enctype="multipart/form-data">

    {% for key,fs in formsets.items %}
      {{ fs.management_form }}
    {% endfor %}

    <input type="number" id="scroll-position" name="scroll-position" class="persist-hidden" />

    <textarea name="custom_field_data" id="inputCustomFields" class="persist-hidden">{{ inventory_item.custom_field_data|default:'' }}</textarea>

    {% edit_form form perms.uw_inventory.change_inventoryitem shown_excluded_fields %}
    {% show_custom_fields inventory_item.custom_field_data %}

    {# Putting this template here makes me cry, but it works for now #}
    <div class="singleton-formset form-group list-group-item clearfix">
      <div class="col-xs-3">
        <label for="inputSopFile" class="control-label">SOP</label>
      </div>
      <div class="col-xs-8 field-container">
        <p class="form-control-static" id="inputSopFile">
          {% if formsets.sop.forms %}
            <a href="{% url 'uw_file_io.views.file_view' formsets.sop.forms.0.instance.file_field.name %}">
              {{ formsets.sop.forms.0.instance.get_name_display|filename }}
            </a>
          {% endif %}
        </p>

        <div class="hidden form-element" id="sop-form-container">
        {% if formsets.sop.forms %}
          {{ formsets.sop.forms.0.as_p }}
        {% else %}
          {{ formsets.sop.empty_form.as_p|prefix }}
        {% endif %}
        <input type="text" class="persist-hidden" id="file-description-default" value="{{ formsets.sop.forms.0.instance.description }}">
        </div>
      </div>
      {% if perms.uw_inventory.change_itemfile %}
        <div class="col-xs-1">
          {% icon 'save hidden' for='inputSopFile' %}
          {% icon 'cancel hidden' for='inputSopFile' %}
          {% icon 'delete hidden' for='inputSopFile' title='Clear file' %}
          {% icon 'edit' for='inputSopFile' %}
          {% set_help_text 'sop_file' as field_help %}
          {% if field_help %}
            {% icon 'field-help persist-visible' data_toggle='popover' data_trigger='focus' data_html='True' data_content=field_help %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% show_images formsets.image.forms perms.uw_inventory.add_itemimage perms.uw_inventory.change_itemimage perms.uw_inventory.view_deleted_itemimage %}

    {% show_files perms.uw_inventory.add_itemfile perms.uw_inventory.change_itemfile perms.uw_inventory.view_deleted_itemfile formsets.file %}

    {% show_comments formsets.comment.forms perms.uw_inventory.add_comment %}
  </form>
  {{ block.super }}
{% endblock page_body %}

{% block page_help %}
  {% if perms.uw_inventory.change_inventoryitem %}
    <p>This page will allow you to modify a particular inventory item.</p>

    <p>To edit a field, click on the {% icon 'edit' %} icon next to it. This will display an input field where the value can be changed. When you're done modifying a field, clicking the {% icon 'save' %} icon will commit those changes for saving. However, note that this <strong>will not actually save your changes</strong>. If you change your mind while editing a field, you can click the {% icon 'cancel' %} icon to discard your changes.</p>

    <p>The SOP field has an additional icon: {% icon 'delete' %}. Clicking this icon will clear the currently-selected file from the field, or will have no effect if the field is empty.</p>
    
  {% endif %}

    <h4>Image attachments</h4>
    <p>Clicking on a saved image will open a pop-up displaying the image at a larger size, if possible. That popup can be dismissed by clicking anywhere on the page.</p>

    <p>The first 20 characters of the image's description will be displayed beneath the image preview, to the left of the icon menu. The full description can be viewed by clicking on the {% icon 'menu-down' %} icon. It can be hidden again by clicking on the {% icon 'menu-up' %} icon.</p>

    {% if perms.uw_inventory.change_inventoryitem %}
      <p>Clicking on the {% icon 'add-item' %} icon beside the Images field will allow you to attach an image to this item, as well as provide a short description of the image. Once a new image has been submitted, it will <strong>not</strong> appear immediately;  a placeholder image will appear in its place until the inventory item has been saved.</p>


      <p>Clicking on the {% icon 'edit' %} icon next to an image will allow you to modify the image and/or its description. As with other fields, changes will not be saved automatically. The {% icon 'delete' %} icon will allow you to remove the image. If you change your mind <strong>before saving the inventory item</strong>, you can restore the image by clicking on the {% icon 'restore' %} icon.</p>
    {% endif %}

    <h4>File attachments</h4>
    <p>File attachments appear in a sortable table.</p>
    <p>The table can be sorted by clicking on the <img src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png" /> icon in the table header. This icon will change depending on how the column is sorted:</p>

    <ul class="list-unstyled">
      <li><img src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png" /> - Unsorted</li>
      <li><img src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc.png" /> - Sort ascending</li>
      <li><img src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc.png" /> - Sort descending</li>
    </ul>

    <p>Clicking on the name of the file will attempt to open the file in the browser. If the file is not a text or PDF document, this will instead download the file. Clicking on the {% icon 'file-download' %} icon will always download the file.</p>

    {% if perms.uw_inventory.change_inventoryitem %}
      <p>The {% icon 'delete' %} icon will allow you to remove the file. If you change your mind <strong>before saving the inventory item</strong>, you can restore the file by clicking on the {% icon 'restore' %} icon.</p>

      <p>Clicking on the {% icon 'add-item' %} icon beneath the file table will allow you to add a new file. As with other fields, the {% icon 'save' %} icon will commit your changes, and the {% icon 'cancel' %} icon will discard them.</p>

      <p>You can edit file attachments by clicking on the {% icon 'file-edit' %} icon.</p>

      <h4>Custom fields</h4>
      <p>Clicking <button class="btn btn-primary">{% icon 'list' %} Add field</button> will open a dialogue allowing the creation of custom fields. These fields will appear only on the current inventory item. There are allowed field types:</p>

      <ul>
        <li>
          <strong>Text</strong> for free text input. These fields have the following options:
          <dl class="dl-horizontal">
            <dt>Secondary Type</dt>
            <dd>Defines what kind of input field will be displayed:</dd>
            <dd>None - A single-line input box</dd>
            <dd>Long - A multi-line, resizeable input box</dd>
            <dd>Email - The same as None, but will validate for email addresses</dd>
            <dd>Obscured - The same as None, but input will be hidden to the user. Useful for confidential information.</dd>
            <dt>Maximum Length</dt>
            <dd>The maximum number of characters allowed in the field. Default is 255.</dd>
          </dl>
        </li>
        <li>
          <strong>Select</strong> to allow choosing from a list of choices.
          <dl class="dl-horizontal">
            <dt>Options</dt>
            <dd>The list of allowed choices. Choices can be separated with a comma, or written on separate lines.</dd>
            <dt>Allow Multiple?</dt>
            <dd>If checked, users will be able to select more than one choice. This option affects the choices for the following options.</dd>
            <dt>Control</dt>
            <dd>The input control to display to the user. If <strong>Allow Multiple?</strong> is checked, the choices are "Multi-select List" and "Checkboxes"; otherwise, "Radio buttons" and "Dropdown List". "Auto" will decide based on the number of choices specified in the <strong>Options</strong> box.</dd>
          </dl>
        </li>
        <li><strong>Date</strong></li>
        <li>
          <strong>Yes/No</strong> will display a checkbox
        </li>
        <li>
          <strong>Number</strong>
          <dl class="dl-horizontal">
            <dt>Secondary Type</dt>
            <dd>Defines extra context for the number:</dd>
            <dd>None - No extra information</dd>
            <dd>Currency - Formats the value for currency input</dd>
            <dt>Precision</dt>
            <dd>If the input box has arrow buttons to increment the value, this value is the size of one increment. Users can always type a number manually, at any precision</dd>
            <dt>Allow Negative?</dt>
            <dd>If checked, the number will be allowed to go arbitraily negative. Otherwise, it will not go below 0</dd>
          </dl>
        </li>
      </ul>
    {% endif %}
{% endblock page_help %}

{% block modal %}
  {{ block.super }}

  <div class="modal fade" id="deleteConfirmModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Are you sure you want to delete?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this item?</p>
          <p>
            {% if perms.uw_inventory.view_deleted_item %}
              If you change your mind, you will be able to restore this item later.
            {% else %}
              This action cannot be undone.
            {% endif %}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock modal %}

{% block js_includes %}
  {{ block.super }}

  <script type="text/javascript">
    $('#item-print').click(function(){
      $('p.form-control-static').each(function(idx, elem){
        if(!$(this).text().trim()){
          $(this).closest('.form-group').addClass('hidden');
        }
      });
      if(!{{ inventory_item.comments|length }}){
        $('#comments-list').closest('.form-group').addClass('hidden');
      }
      window.print();
      $('p.form-control-static').closest('.form-group').removeClass('hidden');
      $('#comments-list').closest('.form-group').removeClass('hidden');
    });
  </script>

  <script type="text/javascript">
    (function(){
      window.scrollTo(0, {{ scrollY }});
    })();
  </script>

  {% if perms.uw_inventory.change_inventoryitem %}
    <script type="text/javascript">
    {# An extra message if we're trying to duplicate with unsaved changes #}
    $("#duplicate").parent().click(function(){
      if(isPageDirty()){
        $('#confirmExitModal').find('.modal-body').append("<p>Unsaved changes will not be duplicated.</p>");
      }
    });
    </script>

    <script type="text/javascript">
      {# As with the paragraphs in the add page, it's easier to hide the form elements here than with Django #}
      $('.item-input').addClass('hidden');
    </script>

    <script type="text/javascript">
      $('#item-delete').click(function(){
        $('#deleteConfirmModal').modal('show');
      });
      $('#confirmDeleteButton').click(function(){
        $('#deleteConfirmModal').modal('hide');
        location.href = '{% url "uw_inventory.views.inventory_delete" inventory_item.id %}';
      });
    </script>

    <script type="text/javascript">
      {# This function performs all the magic of adding and removing edit states #}
      var editClickHandler = function(context){
        var container = context.closest('.form-group').find('.field-container');
        container.children().toggleClass('hidden');
        context.parent().children().toggleClass('hidden');
      }

      var editMenuToggle = function(editTarget){
        {# We could have used a class rather than the for attribute, but this is more semantically meaningful #}
        $('i[for="' + editTarget + '"]').toggleClass('hidden');
        $('.form-element#' + editTarget).focus(); {# Autofocus for usability goodness #}
      }

      $('.singleton-field .edit').click(function(){
        var container = $(this).closest('.form-group').find('.field-container');
        container.attr('data-initial', container.find('input, textarea, select').val());
        editClickHandler($(this));
      });

      $('.singleton-formset .edit').click(function(){
        editClickHandler($(this));
      });

      $('.singleton-field .cancel').click(function(){
        var container = $(this).closest('.form-group').find('.field-container');
        container.find('input, textarea, select').val(container.attr('data-initial'));
        if(container.find('i.checkbox-2')){
          if(container.find('input').val() === 'on'){
            container.find('i.checkbox-2').addClass('checked');
          } else{
            container.find('i.checkbox-2').removeClass('checked');
          }
        }
        editClickHandler($(this));
      });

      $('.singleton-formset .cancel').click(function(){
        var container = $(this).closest('.form-group').find('.field-container').find('input').val('');
        editClickHandler($(this));
      });

      $('.singleton-field .save').click(function(){
        var saveText;
        var hasChanged = false;

        var formGroup = $(this).closest('.form-group');
        formGroup.find('.field-container').removeAttr('data-initial');
        var originalValue = formGroup.find('input.default-value').val();
        var savedParagraph = formGroup.find('p.form-control-static');
        var inputControl = savedParagraph.siblings('.form-element');

        if(inputControl.is('select')){
          {# inputControl was formerly the select box itself, but we need the selected option #}
          var selectedOptions = inputControl.find('option:selected');
          if(inputControl.is('select[multiple="multiple"]')){
            saveText = '';
            for (var i = 0; i < selectedOptions.length; i++) {
              saveText += selectedOptions[i].value;

              if(i !== selectedOptions.length - 1) saveText += ', ';
            }
          } else{
            saveText = inputControl.text();
          }
        } else if(inputControl.is('input[type="date"]')){
          {# Need to do this because sending the string alone into the Date constructor will #}
          {#   interpret the data as UTC, but we want it to be Eastern time #}
          var dateStr = inputControl.val();
          if(dateStr){
            var dateArr = dateStr.split('-');
            var date = new Date(dateArr[0], dateArr[1] - 1, dateArr[2]);

            {# Keeps a consistent formatting on the date. We could do this with native JS, but this is cleaner #}
            saveText = $.datepicker.formatDate('M. d, yy', date);
          } else{
            saveText = '';
          }
        } else if(inputControl.is('i.checkbox-2')){
          saveText = (inputControl.hasClass('checked') ? 'Yes' : 'No');
        } else if(inputControl.is('.ui-autocomplete-input')){
          saveText = (inputControl[0].value == inputControl.placeholder ? '' : inputControl[0].value);
          var toSave;
          if(saveText === ''){
            toSave = '';
          } else {
            toSave = inputControl.attr('to-save');
          }
          {# More magic here, because the autocomplete widget sends the name value but we need the id #}
          inputControl[1].setAttribute('value', toSave);
        } else if(inputControl.is('div.checkboxes')){
          var selectedOptions = inputControl.find('[type=checkbox]:checked, [type=radio]:checked');
          if(selectedOptions.length > 1){
            saveText = '';
            for (var i = 0; i < selectedOptions.length; i++) {
              saveText += selectedOptions[i].value;

              if(i !== selectedOptions.length - 1) saveText += ', ';
            }
          } else if(selectedOptions.length == 1){
            saveText = selectedOptions[0].value
          }
        } else {
          saveText = (inputControl.val() == inputControl.placeholder ? '' : inputControl.val());
        }

        hasChanged = (saveText !== originalValue) {# Here, blank values are considered a change #}

        if(hasChanged){ {# Have we made a change? #}
          formGroup.addClass('list-group-item-warning has-warning');
        } else{ {# Are we back to original? #}
          formGroup.removeClass('list-group-item-warning has-warning');
        }
        $(window).trigger('pagechanges', hasChanged); {# Here's that event from earlier #}

        savedParagraph.text(saveText);

        if(inputControl.parent().is('.custom-field-container')){
          var custom_field_json = JSON.parse($('textarea#inputCustomFields').val() || '{}');
          custom_field_json[inputControl.parent().attr('id')]['value'] = saveText;
          $('textarea#inputCustomFields').val(JSON.stringify(custom_field_json));
        }

        editClickHandler($(this));
      });

      $('.singleton-formset .save').click(function(){
        var saveText; {# This will eventually go in the "saved" <p> tag text #}
        var hasChanged = false;

        var formGroup = $(this).closest('.form-group');
        var originalValue = formGroup.find('input.default-value').val();
        var savedParagraph = formGroup.find('p.form-control-static');
        var inputControl = savedParagraph.siblings('.form-element');

        var new_file_name = inputControl.find('[type="file"]').val();
        if(new_file_name) new_file_name = new_file_name.formatFilename();
        var new_description = inputControl.find('#inputDescription').val();

        saveText = new_description || new_file_name || savedParagraph.text().trim();
        hasChanged = (new_file_name !== '') ||
                     (new_description !== inputControl.find('#file-description-default').attr('value'));

        if(hasChanged){ {# Have we made a change? #}
          inputControl.parents('div.form-group').addClass('list-group-item-warning has-warning');
        } else{ {# Are we back to original? #}
          inputControl.parents('div.form-group').removeClass('list-group-item-warning has-warning');
        }
        $(window).trigger('pagechanges', hasChanged); {# Here's that event from earlier #}

        savedParagraph.text(saveText);

        editClickHandler($(this));
      });
    </script>
  {% endif %}
{% endblock js_includes %}
