{% extends 'uw_inventory/item_base.html' %}
{% load uw_inventory_field_tags %}

{% block messages %}
   {{ block.super }}
    <div class="alert alert-warning hidden" 
         id="pageEditWarning" 
         role="alert">
      This page has unsaved changes
    </div>
{% endblock messages %}

{% block navbar_right %}
  {{ block.super }}
  <li>
    <a href="{% url 'uw_inventory.views.inventory_copy' inventory_item.id %}">
      <i class="fa fa-files-o navigate" id="duplicate"></i>
    </a>
  </li>
  <li>
    <a href="{% url 'uw_inventory.views.inventory_delete' inventory_item.id %}">
      <i class="fa fa-trash navigate"></i>
    </a>
  </li>
{% endblock navbar_right %}

{% block page_heading %}Heading{% endblock page_heading %}

{% block page_body %}
  <form action="{% url 'uw_inventory.views.inventory_detail' inventory_item.id %}"
        method="post"
        id="itemForm">
    {% csrf_token %}
    {% show_editable_field form.name form_data.name 'text' %}
    {% show_static_field 'Creation date' form_data.creation_date %}
    {% show_editable_field form.description form_data.description 'textarea' %}
    {% show_editable_field form.status form_data.status 'dropdown' %}
    {% show_editable_field form.manufacture_date form_data.manufacture_date 'date' %}
    {% show_editable_field form.purchase_price form_data.purchase_price 'currency' %}
    {% show_editable_field form.purchase_date form_data.purchase_date 'date' %}
    {% show_editable_field form.replacement_cost form_data.replacement_cost 'currency' %}
    {% show_editable_field form.replacement_cost_date form_data.replacement_cost_date 'date' %}
    {% show_editable_field form.csa_required form_data.csa_required 'boolean' %}
  </form>
{% endblock page_body %}

{% block js_includes %}
  {{ block.super }}
  {# Need this for the date formatting further down #}
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

  <script type="text/javascript">
  $("#duplicate").parent().click(function(){
    if(pageDirty){
      $('#confirmExitModal').find('.modal-body').append("<p>Unsaved changes will not be duplicated.</p>");
    }
  });
  </script>

  <script type="text/javascript">
    $('#pageSave').attr('disabled', 'disabled');
    $('.item-input').addClass('hidden');
  </script>

  <script type="text/javascript">
    $('#pageSave').click(function(){
      $('form#itemForm').submit();
    });
  </script>
  <script type="text/javascript">
    var editClickHandler = function(context){
      var editTarget = context.attr('for');
      var paragraph = $('p#' + editTarget);
      paragraph.toggleClass('hidden');
      paragraph.siblings().toggleClass('hidden');
      editMenuToggle(editTarget);
    }

    var editMenuToggle = function(editTarget){
      {# We could have used a class rather than the for attribute, but this is more semantically meaningful #}
      $('i[for="' + editTarget + '"]').toggleClass('hidden');
    }

    $('.edit').click(function(){
      editClickHandler($(this));
    });

    $('.cancel').click(function(){
      editClickHandler($(this));
    });

    $('.save').click(function(){
      var paragraph = $('p#' + $(this).attr('for'));

      {# This line looks up from the pragraph for the parent div, then down for the input element #}
      var inputControl = paragraph.closest('div').find('.form-control');
      var original = inputControl.parents('div.form-group').find('span.default-value')[0].textContent;
      var saveText; {# This will eventually go in the "saved" <p> tag text #}

      if(inputControl.is('select')){
        {# inputControl was formerly the select box itself, but we need the selected option #}
        inputControl = inputControl.find('option:selected');

        saveText = inputControl[0].text;
      } else if(inputControl.is('input[type="date"]')){
        {# Need to do this because sending the string alone into the Date constructor will #}
        {#   interpret the data as UTC, but we want it to be Eastern time #}
        var dateStr = inputControl[0].value;
        var dateArr = dateStr.split('-');
        var date = new Date(dateArr[0], dateArr[1] - 1, dateArr[2]);

        {# Keeps a consistent formatting on the date. We could do this with native JS, but this is cleaner #}
        saveText = $.datepicker.formatDate('M. d, yy', date);
      } else {
        {# We don't want to display placeholder text #}
        saveText = (inputControl[0].value == inputControl.placeholder ? '' : inputControl[0].value);
      }

      pageDirty = (saveText !== original) {# Here, blank values are considered a change #}
      
      if(pageDirty){ {# Have we made a change? #}
        $('#pageEditWarning').removeClass('hidden');
        $('#pageSave').removeAttr('disabled');
        inputControl.parents('div.form-group').addClass('list-group-item-warning has-warning');
      } else{ {# Are we back to original? #}
        $('#pageEditWarning').addClass('hidden');
        $('#pageSave').prop('disabled', 'disabled');
        inputControl.parents('div.form-group').removeClass('list-group-item-warning has-warning');
      }

      paragraph[0].textContent = saveText;

      editClickHandler($(this));
    });
  </script>
{% endblock js_includes %}