<div class="form-group clearfix">
  <label for="{{ field_id }}" class="col-xs-2 control-label">{{ field_label }}</label>
  <div class="col-xs-9">
    <p class="form-control-static" id="{{ field_id }}">{{ field_value }}</p>

    {% if field_type == 'text' %}
      <input type="text" class="form-control hidden" name="{{ field_name }}" id="{{ field_id }}" placeholder="{{ field_label }}" {% if field_value %}value="{{ field_value }}"{% endif %} />

    {% elif field_type == 'currency' %}
      <div class="input-group hidden" id="{{ field_id }}">
        <span class="input-group-addon">$</span>
        <input type="number" class="form-control" name="{{ field_name }}" placeholder="0" value="{% if field_value %}{{ field_value }}{% else %}0{% endif %}" />
        <span class="input-group-addon">.00</span>
      </div>

    {% elif field_type == 'date' %}
      <input type="date" class="form-control hidden" name="{{ field_name }}" id="{{ field_id }}" {% if field_value %}value="{{ field_value|date:'Y-m-d' }}"{% endif %} />

    {% elif field_type == 'dropdown' %}
      <select id="{{ field_id }}" class="form-control hidden" name="{{ field_name }}">
        <option class="select-default">---Please choose a value---</option>
        {% for key, value in field_options %}
          <option value="{{ key }}" {% if field_value %}selected="selected"{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>

    {% elif field_type == 'textarea' %}
      <textarea class="form-control hidden" name="{{ field_name }}" rows="10" style="resize:vertical" id="{{ field_id }}" placeholder="{{ field_label }}">{{ field_value }}</textarea>
    {% endif %}
    
  </div>
  <div class="col-xs-1">
    <i class="fa fa-check save hidden" for="{{ field_id }}"></i>
    <i class="fa fa-times cancel hidden" for="{{ field_id }}"></i>
    <i class="fa fa-pencil edit" for="{{ field_id }}"></i>
  </div>
</div>