<div class="form-group list-group-item clearfix {% if field.errors %}list-group-item-danger has-error{% endif %}">
  <div class="col-xs-3">
    <label for="{{ field_id }}" class="control-label">
      {{ field_label }}
      {% if field_required %}<span class="text-danger">*</span>{% endif %}
    </label>
  </div>
  <div class="col-xs-8">
    {# Special magic to show creation_date, which is otherwise excluded from forms #}
    {% if date_value %}
      <p class="form-control-static">
        {{ date_value }}
      </p>
    {% endif %}

    {% if caller == "static" %}
      <p class="form-control-static">
        {{ field_value }}
      </p>
    {% else %}
      {{ field }}
      {{ field.errors }}
    {% endif %}

  </div>

  {# If we came from a show_editable_field tag #}
  {% if caller == "edit" and perms.uw_inventory.change_inventoryitem %}
    <div class="col-xs-1">
      <i class="fa fa-check save hidden" for="{{ field_id }}"></i>
      <i class="fa fa-times cancel hidden" for="{{ field_id }}"></i>
      <i class="fa fa-pencil edit" for="{{ field_id }}"></i>
    </div>
  {% endif %}
</div>