<div class="image-item">
  <div class="col-md-4 col-sm-6">
    <div class="thumbnail clearfix">
      <div class="image" style="min-height:91px">
        <a>
          <img src="{{ image.file_field.url }}" 
               alt=""
               class="{% if not image.to_display %}disabled{% endif %} pull-left" />
        </a>
      </div>
      <div class="pull-right">
        <i class="menu-down details"></i>
        <i class="menu-up hidden details"></i>
        {% if image.to_display %}
          <i class="delete fa-fw"></i>
          <i class="restore fa-fw hidden"></i>
        {% else %}
          <i class="delete fa-fw hidden"></i>
          <i class="restore fa-fw"></i>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-xs-12 collapse">
    <div class="panel panel-default">
      <div class="panel-heading">
        Image Details
        <div class="pull-right">
          <i class="edit"></i>
          <i class="save hidden"></i>
          <i class="cancel hidden"></i>
        </div>
      </div>
      <div class="panel-body">
        <p class="form-control-static image-description">
          {{ image.description }}
        </p>
        <div class="image-form hidden">
          {{ form }}
        </div>
      </div>
    </div>
  </div>
</div>