{% load uw_inventory_misc_tags %}

<div class="image-item" id="image-{{ forloop.counter0 }}">
  <div class="col-md-6">
    <div class="thumbnail clearfix">
      <div class="image" style="height:150px">
        <a>
          <img src="{{ image.file_field.url }}" 
               alt=""
               height="100%"
               width="auto"
               class="{% if not image.to_display %}disabled{% endif %} pull-left" />
        </a>
      </div>
      <div class="pull-left description-teaser">{{ image.description|truncatechars:20 }}</div>
      <div class="pull-right">
        {% icon 'menu-down details' %}
        {% icon 'menu-up hidden details' %}
        {% if can_edit %}
          {% icon 'edit' %}
          {% if image.to_display and view_deleted %}
            {% icon 'delete fa-fw' %}
            {% icon 'restore fa-fw hidden' %}
          {% elif view_deleted %}
            {% icon 'delete fa-fw hidden' %}
            {% icon 'restore fa-fw' %}
          {% endif %}
        {% endif %}
      </div>
      {% if can_add %}
        <div class="collapse image-detail col-xs-12">
          <p class="form-control-static image-description">
            <strong>Description:</strong> {{ image.description }}
          </p>
        </div>
      {% endif %}
      <div class="image-form persist-hidden" for="image-{{ forloop.counter0 }}">
        {{ form }}
      </div>
    </div>
  </div>
</div>