<div class="form-group list-group-item clearfix">
  <div class="col-xs-2">
    <label class="control-label">Images</label>
  </div>
  <div class="col-xs-10">
    <div id="images-list">
      {% for image in image_set %}
        {% if image.instance.to_display or view_deleted %}
          <div class="image-item">
            <div class="col-xs-4">
              <div class="thumbnail clearfix">
                <a>
                  <img src="{{ image.instance.file_field.url }}" alt="" class="{% if not image.instance.to_display %}disabled{% endif %} pull-left"/>
                </a>
                <div class="pull-right">
                  <i class="menu-down details"></i>
                  <i class="menu-up hidden details"></i>
                  {% if image.instance.to_display %}
                    <i class="delete fa-fw"></i>
                    <i class="restore fa-fw hidden"></i>
                  {% else %}
                    <i class="delete fa-fw hidden"></i>
                    <i class="restore fa-fw"></i>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-xs-12 collapse">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Image Details
                  <div class="pull-right">
                    <i class="edit"></i>
                    <i class="save hidden"></i>
                    <i class="cancel hidden"></i>
                  </div>
                </div>
                <div class="panel-body">
                  <p class="form-control-static image-description">
                    {{ image.instance.description }}
                  </p>
                  <div class="image-form hidden">
                    {{ image }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>