<div class="image-item" id="image-{{ forloop.counter0 }}">
  <div class="col-md-6">
    <div class="thumbnail clearfix">
      <div class="image" style="height:150px">
        <a>
          <img src="/{{ image.file_field.url }}" 
               alt=""
               height="100%"
               width="auto"
               class="{% if not image.to_display %}disabled{% endif %} pull-left" />
        </a>
      </div>
      <div class="pull-right">
        <i class="menu-down details"></i>
        <i class="menu-up hidden details"></i>
        <i class="edit"></i>
        {% if image.to_display %}
          <i class="delete fa-fw"></i>
          <i class="restore fa-fw hidden"></i>
        {% else %}
          <i class="delete fa-fw hidden"></i>
          <i class="restore fa-fw"></i>
        {% endif %}
      </div>
      <div class="collapse image-detail col-xs-12">
        <p class="form-control-static image-description">
          {{ image.description }}
        </p>
      </div>
      <div class="image-form persist-hidden" for="image-{{ forloop.counter0 }}">
        {{ form }}
      </div>
    </div>
  </div>
</div>