{% load uw_inventory_misc_tags %}
{% load uw_forms_field_tags %}

{% set_help_text 'images' as field_help %}

<div class="form-group list-group-item clearfix">
  <div class="col-xs-2">
    <label class="control-label">Images</label>
  </div>
  <div class="col-xs-9">
    <div id="images-list">
      {% for image in image_set %}
        {% if image.instance.to_display or view_deleted %}
          {% include 'uw_inventory/image_detail.html' with form=image image=image.instance %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-6" id="image-add-container">
      <div class="thumbnail clearfix">
        <div class="image" style="height:150px;text-align:center" id="add-image">
          {% icon 'add-item fa-5x' %}
        </div>
      </div>
    </div>
  </div>
</div>