{% extends 'uw_forms/form_base.html' %}
{% load uw_inventory_modal_tags %}
{% load uw_inventory_model_tags %}
{% load uw_inventory_misc_tags %}
{% load uw_forms_form_tags %}

{% block css_includes %}
  <style type='text/css'>
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
    img.disabled {
      opacity: 0.4;
      filter: alpha(opacity=40); /* for IE */
    }
  </style>
  <!-- jQuery UI theme for the autocomplete widget -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
{% endblock css_includes %}

{% block gutter_nav %}
  <li class="list-group-item">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newFieldModal">{% icon 'list' %} Add field</button>
  </li>
{% endblock gutter_nav %}

{% block page_content %}
  <div class="panel panel-default">
    <div class="panel-heading">{% block page_heading %}{% endblock page_heading %}</div>
      {% block page_body %}
      {% endblock page_body %}
  </div>
{% endblock page_content %}

{% block modal %}
  {% confirm_modal 'Exit' %}

  {% include 'uw_custom_fields/creation_modal.html' %}

  {# There must be a better way to do modals... #}
  <div class="modal fade" id="autocompleteAddTermModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form id="autocompleteAddTermForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="termName">Name<span class="text-danger">*</span></label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddTermName"
                     name="termName"
                     placeholder="Name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="autocompleteAddTermSubmit">Add option</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="autocompleteAddUserTermModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form id="autocompleteAddUserTermForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="termName">UW ID<span class="text-danger">*</span></label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermName"
                     name="termName"
                     placeholder="UW ID" />
            </div>
            <div class="form-group">
              <label for="termFirstName">First name</label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermFirstNamee"
                     name="termFirstName"
                     placeholder="First name" />
            </div>
            <div class="form-group">
              <label for="termLastName">Last Name</label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermLastName"
                     name="termLastName"
                     placeholder="Last Name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="autocompleteAddUserTermSubmit">Add option</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="lightboxModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <img src="" alt="" style="max-width:100%;height:auto">
      </div>
    </div>
  </div>

  <div class="modal fade" id="imageEditModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          {# We're going to dynamically insert the ModelForm here #}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="imageEditSubmit">Done</button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}

{% block js_includes %}
  {# Need this for the date formatting on Edit page and for autocomplete widgets #}
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

  {{ block.super }}

  <script type="text/javascript">
    $(function(){
      $('[name="sop-0-description"], [name="sop-0-file_type"]').parent().addClass('persist-hidden');
    });
  </script>

  <script type="text/javascript">
    $('#newFieldModal').on('show.bs.modal', function(){
      $(this).find('ul.errorlist').addClass('hidden');
      $(this).find('.form-group').removeClass('has-error');
      $(this).find('input[type="text"], textarea').val('');
      $(this).find('.checkbox-2').removeClass('checked');
    });

    $('#newFieldModal').on('change', '#inputFieldType', function(e){
        $('.fieldOptions').addClass('hidden');
        switch(e.target.selectedOptions[0].label){
          case "Text":
            $('.textFieldOptions').removeClass('hidden'); break;
          case "Select":
            $('.selectFieldOptions').removeClass('hidden'); break;
          case "Number":
            $('.numberFieldOptions').removeClass('hidden'); break;
          case "Date":
            $('.dateFieldOptions').removeClass('hidden'); break;
        }
      });

      $('#newFieldModal').on('click', 'i#inputFieldAllowDups', function(){
        $('#newFieldModal').find('option.itemControl').toggleClass('hidden');
        $('#newFieldModal').find('#inputFieldSelectControl').val('');
      });

      $('#newFieldModal').on('click', '#createFieldBtn', function(){
        var modal = $('#newFieldModal');
        modal.find('ul.errorlist').addClass('hidden');
        modal.find('.form-group').removeClass('has-error');

        var fieldKey = modal.find('#inputFieldName').val().replace(' ', '');
        var fieldData = {};
        fieldData['name'] = modal.find('#inputFieldName').val();
        fieldData['type'] = modal.find('#inputFieldType').find(':selected').val();

        if(!fieldData['name']){
          modal.find('#inputFieldName').closest('.form-group').addClass('has-error');
          modal.find('#inputFieldName').siblings('ul.errorlist').removeClass('hidden');
        }

        if(!fieldData['type']){
          modal.find('#inputFieldType').closest('.form-group').addClass('has-error');
          modal.find('#inputFieldType').siblings('ul.errorlist').removeClass('hidden');
        }

        if(fieldData['name'] && fieldData['type']){
          switch(fieldData['type']){
            case 'text':
              fieldData['type-secondary'] = modal.find('#inputFieldSecondaryTextType').val();
              fieldData['length'] = modal.find('#inputFieldLength').val();
              break;
            case 'choice':
              fieldData['options'] = modal.find('#inputFieldOptions').val().split(/,\s{0,1}|[\n\r]/g);
              var allowDupes = modal.find('#inputFieldAllowDups').hasClass('checked');

              fieldData['widget'] = (function(){
                var initialVal = modal.find('#inputFieldSelectControl').find(':selected').val();

                if(initialVal === 'auto'){
                  if(fieldData['options'].length < 7){
                    return allowDupes ? 'checkbox' : 'radio';
                  } else {
                    return allowDupes ? 'multiselect' : 'select';
                  }
                } else{
                  return initialVal;
                }
              })();
              break;
            case 'date': case 'bool': break;
            case 'number':
              fieldData['type-secondary'] = modal.find('#inputFieldSecondaryNumberType').val();
              fieldData['step'] = modal.find('#inputFieldPrecision').val();
              fieldData['allow-negative'] = modal.find('#inputFieldAllowNegative').hasClass('checked');
              break;
          }
          var oldData = JSON.parse($('textarea#inputCustomFields').val() || '{}');
          oldData[fieldKey] = fieldData;

          $('textarea#inputCustomFields').val(JSON.stringify(oldData));
          modal.modal('hide');

          $(window).trigger('pagechanges', true);
        }
      });
  </script>

  <script type="text/javascript">
    /*
     * Formats a file path into an absolute filename
     */
    String.prototype.formatFilename = function(){
      try{
        {# This annoyingly complicated regex basically takes anything that's not a '\', #}
        {# followed by a '.', followed by literally anything. It's a naive way to do the job, #}
        {# since it precludes the possibility of having '.' in filenames, but it's good enough for now #}
        return this.match(/[^\\]*\..*/)[0];
      } catch(e){
        return '';
      }
    }
  </script>

  <script type="text/javascript">
    {# It's a little messy, but this will allow us to disable files from displaying #}
    $('[for*=to_display]').addClass('persist-hidden');
    $('[name*=to_display]').addClass('persist-hidden');
  </script>

  <script type="text/javascript">
    var stringToFilesize = function(str){
      var components = str.split(/\s/);
      var numComponent = parseFloat(components[0]);

      switch(components[1]){
        case 'GB':
          numComponent *= 1000000000; break;
        case 'MB':
          numComponent *= 1000000; break;
        case 'KB':
          numComponent *= 1000; break;
      }

      return numComponent;
    }
  </script>

  <script type="text/javascript">
    $('.sort-row').click(function(){
      var rows = $(this).closest('table').find('tr.file-row');
      var sortColumnIndex = parseInt($(this).attr('data-index'), 10);
      var compareDelta = $(this).hasClass('sort-asc') ? -1 : 1;

      $(this).closest('table').find('tr.file-row').remove();
      rows = rows.sort(function(a, b){
        var aCompare = $(a).children()[sortColumnIndex].textContent.trim();
        var bCompare = $(b).children()[sortColumnIndex].textContent.trim();

        if($(rows.children()[sortColumnIndex]).hasClass('file-size')){
          aCompare = stringToFilesize(aCompare);
          bCompare = stringToFilesize(bCompare);
        }

        if(aCompare < bCompare){
          return -1 * compareDelta;
        } else if(aCompare > bCompare){
          return 1 * compareDelta;
        }
        return 0;

      });

      $('#file-table tbody').append(rows);

      $('#file-table').find('.sort-row').removeClass('sort-asc').removeClass('sort-desc')
                                        .removeClass('text-primary').addClass('sort');

      $(this).addClass('text-primary');
      if(compareDelta > 0){
        $(this).removeClass('sort');
        $(this).addClass('sort-asc');
      } else {
        $(this).removeClass('sort');
        $(this).addClass('sort-desc');
      }
    });
  </script>

  {% if perms.uw_inventory.add_autocompletedata %}
    <script type="text/javascript">
      {# Launch the modal to add an autocomplete term #}
      $('a.autocomplete-add-term').click(function(event){
        var dataSet = event.target.getAttribute('data-set');
        var targetID;

        switch(dataSet){
          case 'technician': case 'owner':
            targetID = 'autocompleteAddUserTerm'; break;
          default:
            targetID = 'autocompleteAddTerm'; break;
        }

        $('#' + targetID + 'Submit').attr('data-set', dataSet);

        {# Because we're using one modal to add items to all autocomplete fields, #}
        {# we clear the modal between 'sessions' #}
        $('#' + targetID + 'Name').val('');

        {# We also have to set some of the modal's content dynamically #}
        $('#' + targetID + 'Modal').find('.modal-title')[0].textContent = "Add new " + dataSet;
        $('#' + targetID + 'Modal').modal('show');
        $('#' + targetID + 'Name').focus();
      });

      var addAutocompleteTermAjax = function(targetID){
        $('span.error').remove();
        $('#' + targetID + 'Name').parent().removeClass('has-error');

        var dataSet = $('#' + targetID + 'Submit').attr('data-set');

        if(dataSet === 'owner' || dataSet === 'technician'){
          dataSet = 'user'
        }
        var optionName = $('#' + targetID + 'Name').val();
        if(optionName){
          $.ajax({
            url: '{% url "uw_inventory.views.autocomplete_new" %}',
            type: 'POST',
            data: $('#' + targetID + 'Form').serialize() + "&dataSet=" + dataSet,
            success: function(data){
              if(data.error){
                $('#' + targetID + 'Name').parent().addClass('has-error');
                $('#' + targetID + 'Name').parent().append(
                  '<span class="error text-danger">'+ data.error +'</span>'
                );
              } else {
                $('#' + targetID + 'Submit').removeAttr('data-set');
                $('#' + targetID + 'Modal').modal('hide');
              }
            },
            error: function(xhr, err_msg, err){
              console.log(xhr);
              console.log(err_msg);
              console.log(err);
            }
          });
        } else {
          $('#' + targetID + 'Name').parent().append(
            '<span class="error text-danger">This field is required</span>'
          );
          $('#' + targetID + 'Name').parent().addClass('has-error');
        }
      }

      {# Submit a new autocomplete term #}
      $('#autocompleteAddTermSubmit').click(function(event){
        addAutocompleteTermAjax('autocompleteAddTerm');
      });
      $('#autocompleteAddUserTermSubmit').click(function(event){
        addAutocompleteTermAjax('autocompleteAddUserTerm');
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    $('.file-download').click(function(){
      console.log($(this).attr('data-target'))
      window.location = $(this).attr('data-target');
    });
  </script>

  {% if perms.uw_inventory.add_comment %}
    <script type="text/html" id="comment-template">
      <div class="row comment">
        <div id="comment-__prefix__" class="col-xs-11">
          {{ formsets.comment.empty_form.as_p }}
        </div>
        <div class="col-xs-1">
          {% icon 'save' %}
          {% icon 'cancel' %}
          {% icon 'delete' %}
        </div>

        <div class="col-xs-11 hidden static-comment">
          {% include 'uw_inventory/comment_detail.html' %}
        </div>
        <div class="col-xs-1 hidden">
          {% icon 'edit' %}
          {% icon 'delete' %}
        </div>
      </div>
    </script>

    <script type="text/javascript">
      $('#add-comment').click(function(){
        var count = $('#id_comments-TOTAL_FORMS').val();
        var template = $('#comment-template').html().replace(/__prefix__/g, count);
        $('#id_comments-TOTAL_FORMS').val(parseInt(count)+1);

        var newElement = $(template).prependTo('#comments-list');

        newElement.find('[id*=creation_date]').parent().addClass('persist-hidden');

        newElement.find('[id*=author]').val({{ user.id }});
        newElement.find('[id*=author]').parent().addClass('persist-hidden');

        newElement.find('[id*=DELETE]').parent().addClass('persist-hidden');
      });

      $('#comments-list').on('click', 'i.save', function(){
        var comment = $(this).closest('.comment');
        comment.removeAttr('comment-initial');

        var newcommentJSON = {
          'body': comment.find('#inputBody').val(),
          'author': '{{ user.get_name_display }}',
          'creation_date': comment.find('[id*=creation_date]').val(),
        }

        var staticcomment = comment.find('.static-comment');
        staticcomment.find('.panel-heading small strong')[0].textContent = newcommentJSON.author;
        staticcomment.find('.panel-heading small em')[0].textContent = newcommentJSON.creation_date;
        staticcomment.find('.panel-body')[0].textContent = newcommentJSON.body;

        comment.children().toggleClass('hidden');
        $(window).trigger('pagechanges', true);
      });

      $('#comments-list').on('click', 'i.cancel', function(){
        var comment = $(this).closest('.comment');
        if(!comment.find('#inputBody').val()){
          $(this).siblings('i.delete').click();
        } else {
          comment.find('#inputBody').val(comment.attr('comment-initial'));
          comment.children().toggleClass('hidden');
        }
      });

      $('#comments-list').on('click', 'i.delete', function(){
        var comment = $(this).closest('.comment');

        comment.find('[id*=DELETE]').attr('checked', 'checked');
        comment.addClass('hidden');
      });

      $('#comments-list').on('click', 'i.edit', function(){
        var comment = $(this).closest('.comment');
        comment.attr('comment-initial', comment.find('#inputBody').val())
        comment.children().toggleClass('hidden');
      });
    </script>
  {% endif %}

  {% if perms.uw_inventory.add_itemfile %}
    <script type="text/html" id="file-template">
      <div id="file-__prefix__">
        {{ formsets.file.empty_form.as_p }}
      </div>     
    </script>

    <script type="text/javascript">
      (function(){
        {# We need to set these management form fields manually because we're using the same #}
        {# formset factory for files as for SOP #}
        $('#id_sop-TOTAL_FORMS').val(1);
        $('#id_sop-MAX_NUM_FORMS').val(1);
      })();
    </script>

    <script type="text/html" id="file-table-row-template">
      <tr class="file-row">
        {# When we toggle visibility on the tr's children, the hidden classes will all swap #}
        <td class="hidden file-description"></td>
        <td class="hidden file-size"></td>
        <td class="hidden">
          {% icon 'file-edit' %}
          {% icon 'delete' %}
        </td>
        <td colspan="2">__form__</td>
        <td>
          {% icon 'save' %}
          {% icon 'cancel' %}
          {% icon 'delete' %}
        </td>
      </tr>
    </script>

    <script type="text/javascript">
      {# When we add a file, we create a new instance of the formset #}
      $('#add-file').click(function(){
        var count = $('#id_files-TOTAL_FORMS').attr('value');

        {# The first replace is some trickery to hide the formset delete checkbox #}
        {# The second replace is to update the formset ID, which will be used at save-time #}
        var compiledRowTemplate = $("#file-template").html().replace(/__prefix__-(DELETE|to_display)"/g, '__prefix__-$1" class="persist-hidden"').replace(/__prefix__/g, count);
        var compiledTemplate = $('#file-table-row-template').html().replace(/__form__/g, compiledRowTemplate);
        
        $('#file-table tbody').append(compiledTemplate);
        $('#id_files-TOTAL_FORMS').attr('value', parseInt(count, 10)+1);
      });

      {# This event-handling syntax is used because we're adding the target elements #}
      {# dynamically, so they don't exist on the DOM when the page runs #}
      $('#file-table').on('click', 'i.cancel', function(){
        var row = $(this).closest('tr');

        var inputFileName = row.find('[type="file"]');
        var inputFileDescription = row.find('#inputDescription');
        var inputFileType = row.find('#inputFieldType')

        if(!inputFileName.val() && !inputFileDescription.val() && !inputFileType.val() && row.find('a').length === 0){
          row.find('.delete').click();
        } else{
          inputFileName.val('');
          inputFileDescription.val(row.attr('data-description-initial'));
          inputFileType.val(row.attr('data-type-initial'))
          row.children().toggleClass('hidden');
        }
      });

      $('#file-table').on('click', 'i.delete', function(){
        var row = $(this).closest('tr');
        row.find('[id*=DELETE]').attr('checked', 'checked');
        row.addClass('hidden');
      });

      $('#file-table').on('click', 'i.file-hide', function(){
        var row = $(this).closest('tr');
        row.find('[id*=to_display]').removeAttr('checked');

        var hasChanged = row.find('span.initial-display').text() === 'True';

        {% if perms.uw_inventory.view_deleted_itemfile %}
          row.addClass('disabled');
          row.find('i.file-hide').remove();
          row.find('.file-menu').append('{% icon "restore" %}');
        {% else %}
          row.addClass('persist-hidden');
        {% endif %}

        $(window).trigger('pagechanges', hasChanged);
      });

      $('#file-table').on('click', 'i.restore', function(){
        var row = $(this).closest('tr');
        row.find('[id*=to_display]').attr('checked', 'checked');
        row.removeClass('disabled');
        row.find('i.restore').remove();
        row.find('.file-menu').append('{% icon "file-hide" %}');

        var hasChanged = row.find('span.initial-display').text() === 'False';
        $(window).trigger('pagechanges', hasChanged);
      });

      $('#file-table').on('click', 'i.save', function(){
        var row = $(this).closest('tr');
        row.removeAttr('data-description-initial')
        row.removeAttr('data-type-initial')
        var descriptionChanged = (row.find('#inputDescription').val() !== row.find('.default-description').text());
        var fileChanged = row.find('[type="file"]').val();
        if(row.find('[type="file"]').val()){
          var description = row.find('#inputDescription').val() ||
                        row.find('[type="file"]').val().formatFilename();

          {# Really horrible ugly filesize formatting #}
          var fileSize;
          try{
            fileSize = row.find('[type="file"]')[0].files[0].size;

            if(fileSize >= 1000000000){
              fileSize = (fileSize/1000000000).toFixed(2) + ' G';
            } else if(fileSize >= 1000000){
              fileSize = (fileSize/1000000).toFixed(2) + ' M';
            } else if(fileSize >= 1000){
              fileSize = (fileSize/1000).toFixed(2) + ' K';
            } else{
              fileSize = fileSize.toFixed(2) + ' ';
            }

            fileSize += 'B';
          } catch(e){ {# Exception arises if the browser doesn't support the HTML5 files API #}
            fileSize = 'N/A';
          }

          row.find('.file-description').html(description);
          row.find('.file-size').html(fileSize);
        }
        row.children().toggleClass('hidden');

        var hasChanged = descriptionChanged || fileChanged;
        if(hasChanged){
          row.addClass('warning');
        } else{
          row.removeClass('warning');
        }

        $(window).trigger('pagechanges', hasChanged);
      });

      $('#file-table').on('click', 'i.file-edit', function(){
        var row = $(this).closest('tr');
        row.children().toggleClass('hidden');
        row.attr('data-description-initial', row.find('#inputDescription').val());
        row.attr('data-type-initial', row.find('#inputFieldType').val());
      });
    </script>
  {% endif %}

  {% if perms.uw_inventory.change_inventoryitem or perms.uw_inventory.add_inventoryitem %}
    <script type="text/javascript">
      {# We want to confirm user intent if they try to navigate away with unsaved changes #}
      var targetDestination;
      $('.navigate').parent().click(function(event){
        if(isPageDirty()){
          event.preventDefault();
          event.stopPropagation();
          targetDestination = event.target.href;
          $('#confirmExitModal').modal('show');
        }
      });

      $('#confirmExitModalContinue').click(function(){
        $('#confirmExitModal').modal('hide');
        window.location = targetDestination || {% url 'uw_inventory.views.inventory_list' %};
      });

      $('#confirmExitModalCancel').click(function(){
        $('#confirmExitModal').modal('hide');
      });
    </script>

    <script type="text/javascript">
      {# Manually define the autocomplete fields #}
      {# Doing it this way kind of hurts my soul, but I'm not sure Django's template #}
      {# system can handle iterating over array literals #}
      $('input#inputLocation').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'location' %}",
        select: function(event, ui){
          $('input#inputLocation').attr('to-save', ui.item.id)
        }
      });

      $('input#inputManufacturer').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'manufacturer' %}",
        select: function(event, ui){
          $('input#inputManufacturer').attr('to-save', ui.item.id)
        }
      });

      $('input#inputSupplier').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'supplier' %}",
        select: function(event, ui){
          $('input#inputSupplier').attr('to-save', ui.item.id)
        }
      });

      $('input#inputTechnician').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'technician' %}",
        select: function(event, ui){
          $('input#inputTechnician').attr('to-save', ui.item.id)
        }
      });

      $('input#inputOwner').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'owner' %}",
        select: function(event, ui){
          $('input#inputOwner').attr('to-save', ui.item.id)
        }
      });
    </script>
  {% endif %}

  {% if perms.uw_inventory.add_itemimage or perms.uw_inventory.change_itemimage %}
    <script type="text/html" id="image-detail-template">
     <div class="image-item" id="image-__prefix__">
      <div class="col-md-6">
        <div class="thumbnail clearfix">
          <div class="image" style="height:150px;text-align:center">
            {% icon 'picture fa-fw fa-5x' %}
          </div>
          <div class="pull-right">
            {% icon 'menu-down details' %}
            {% icon 'menu-up hidden details' %}
            {% icon 'edit' %}
            {% icon 'delete fa-fw' %}
            {% icon 'restore fa-fw hidden' %}
          </div>
          <div class="collapse image-detail col-xs-12">
            <p class="form-control-static image-description">
            </p>
          </div>
          <div class="image-form persist-hidden" for="image-__prefix__">
          </div>
        </div>
      </div>
    </div>
    </script>

    <script type="text/html" id="image-form-template">
      <div class="image-form persist-hidden" for="image-__prefix__">
        {{ formsets.image.empty_form }}
      </div>
    </script>

    <script type="text/javascript">
      var isNewImage = false;

      $('#images-list').on('click', '.details', function(){
        $(this).closest('.image-item').find('.collapse').collapse('toggle');
        $(this).parent().children('.details').toggleClass('hidden');
      });

      $('#images-list').on('click', '.edit', function(){
        var form = $(this).closest('.image-item').find('.image-form').clone().removeClass('persist-hidden');
        $('#imageEditModal').find('.modal-body').append(form);
        $('#imageEditModal').modal('show');
      });

      $('#imageEditSubmit').click(function(){
        if(isNewImage){
          var count = parseInt($('#id_images-TOTAL_FORMS').val(), 10);
          var template = $('#image-detail-template').html();
          var compiledTemplate = template.replace(/__prefix__/g, count);

          var newElement = $(compiledTemplate).appendTo('#images-list');
          newElement.find('[id*=DELETE], [id*=to_display]').parent().addClass('hidden');
          $('#id_images-TOTAL_FORMS').val(count+1);
        }

        var modal = $(this).closest('.modal');
        var newForm = modal.find('.image-form');
        var imageID = newForm.attr('for');
        var oldForm = $('#' + imageID).find('.image-form');

        var newDescription = newForm.find('#inputDescription');
        var oldDescription = oldForm.find('#inputDescription');

        newDescription.text(newDescription.val());

        var newFile = newForm.find('[type="file"]').val();
        var oldFile = oldForm.find('label[for$="file_field"] ~ a').text();

        var fileChanged = newFile && !oldFile.endsWith(newFile.substring(newFile.lastIndexOf('\\')+1))
        var hasChanges = (newDescription.val() !== oldDescription.val()) || fileChanged;

        if(fileChanged){
          oldForm.closest('.image-item').find('.image').empty().append('<div class="image-placeholder" style="min-height:91px;text-align:center">{% icon "picture fa-fw fa-5x" %}</div>');
        }

        oldForm.siblings('.image-detail').find('p').text(newDescription.val());

        oldForm.replaceWith(newForm.addClass('persist-hidden'));
        $(window).trigger('pagechanges', hasChanges);
        modal.modal('hide');
      });

      $('#imageEditModal').on('hidden.bs.modal', function(){
        isNewImage = false;
        $(this).find('.image-form').remove();
      });

      $('#images-list').on('click', '.delete', function(){
        if($(this).closest('image-item').find('.image-placeholder').length !== 0){
          $(this).closest('.image-item').addClass('hidden');
          $(this).closest('.image-item').find('[id*=DELETE]').attr('checked', 'checked');
        } else{
          $(this).closest('.image-item').find('[id*=to_display]').removeAttr('checked');
          $(this).addClass('hidden');
          $(this).siblings('.restore').removeClass('hidden');
          $(this).closest('.thumbnail').find('img').addClass('disabled');
          $(window).trigger('pagechanges', true);
        }
      });

      $('#images-list').on('click', '.restore', function(){
        $(this).closest('.image-item').find('[id*=to_display]').attr('checked', 'checked');
        $(this).addClass('hidden');
        $(this).siblings('.delete').removeClass('hidden');
        $(this).closest('.thumbnail').find('img').removeClass('disabled');
        $(window).trigger('pagechanges', true);
      });

      $('#add-image').click(function(){
        isNewImage = true;
        var count = parseInt($('#id_images-TOTAL_FORMS').val(), 10);
        var template = $('#image-form-template').html();
        var form = $(template.replace(/__prefix__/g, count)).removeClass('persist-hidden');
        form.find('[id*="DELETE"], [id*="to_display"], [for*="DELETE"], [for*="to_display"]').addClass('persist-hidden');
        $('#imageEditModal').find('.modal-body').append(form);
        $('#imageEditModal').modal('show');
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    $('.image-item img').click(function(){
      var imageData = {
        'src': $(this).attr('src'),
        'width': $(this).attr('data-width'),
        'height': $(this).attr('data-height'),
      }
      $('#lightboxModal').find('img').attr('src', imageData.src);
      $('#lightboxModal').modal('show');
    });

    $('#lightboxModal').on('hidden.bs.modal', function(){
      $('#lightboxModal').find('img').attr('src', '');
    })
  </script>
{% endblock js_includes %}