{% extends 'uw_inventory_system/base.html' %}
{% load uw_inventory_modal_tags %}

{% block css_includes %}
  <style type='text/css'>
    {# We need this special CSS class because of our indiscriminate hiding/showing of input elements #}
    {# Adding this class makes the element perma-hidden #}
    .field-hidden{
      display: none!important;
      visibility: hidden!important;
    }
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
  </style>
  <!-- jQuery UI theme for the autocomplete widget -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
{% endblock css_includes %}

{% block navbar_right %}
  {% if perms.uw_inventory.change_inventoryitem or perms.uw_inventory.add_inventoryitem %}
    <li>
      <button class="btn navbar-btn btn-success" id="pageSave">Save</button>
    </li>
    <li>
      <button class="btn navbar-btn btn-danger" id="pageCancel">Cancel</button>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock navbar_right %}

{% block content %}
    <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">{% block page_heading %}{% endblock page_heading %}</div>
            {% block page_body %}
            {% endblock page_body %}
        </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  {% confirm_modal 'Exit' %}

  {# There must be a better way to do modals... #}
  <div class="modal fade" id="autocompleteAddTermModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form id="autocompleteAddTermForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="termName">Name<span class="text-danger">*</span></label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddTermName"
                     name="termName"
                     placeholder="Name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="autocompleteAddTermSubmit">Add option</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="autocompleteAddUserTermModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form id="autocompleteAddUserTermForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="termName">UW ID<span class="text-danger">*</span></label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermName"
                     name="termName"
                     placeholder="UW ID" />
            </div>
            <div class="form-group">
              <label for="termFirstName">First name</label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermFirstNamee"
                     name="termFirstName"
                     placeholder="First name" />
            </div>
            <div class="form-group">
              <label for="termLastName">Last Name</label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermLastName"
                     name="termLastName"
                     placeholder="Last Name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="autocompleteAddUserTermSubmit">Add option</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock modal %}

{% block js_includes %}
  {# Need this for the date formatting on Edit page and for autocomplete widgets #}
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

  {% if perms.uw_inventory.add_autocompletedata %}
    <script type="text/javascript">
      {# Launch the modal to add an autocomplete term #}
      $('a.autocomplete-add-term').click(function(event){
        var dataSet = event.target.getAttribute('data-set');
        var targetID;

        switch(dataSet){
          case 'technician': case 'owner':
            targetID = 'autocompleteAddUserTerm'; break;
          default:
            targetID = 'autocompleteAddTerm'; break;
        }


        {# Because we're using one modal to add items to all autocomplete fields, #}
        {# we clear the modal between sessions #}
        $('#' + targetID + 'Name').val('');

        {# We also have to set some of the modal's content dynamically #}
        $('#' + targetID + 'Modal').find('.modal-title')[0].textContent = "Add new " + dataSet;
        $('#' + targetID + 'Modal').modal().show();
        $('#' + targetID + 'Name').focus();
      });

      var addAutocompleteTermAjax = function(targetID){
        $('span.error').remove();
        $('#' + targetID + 'Name').parent().removeClass('has-error');

        var dataSet = $('a.autocomplete-add-term').attr('data-set');
        if(dataSet === 'location'){
          dataSet = 'user'
        }
        var optionName = $('#' + targetID + 'Name').val();
        if(optionName){
          $.ajax({
            url: '{% url "uw_inventory.views.autocomplete_new" %}',
            type: 'POST',
            data: $('#' + targetID + 'Form').serialize() + "&dataSet=" + dataSet,
            success: function(data){
              if(data.error){
                $('#' + targetID + 'Name').parent().addClass('has-error');
                $('#' + targetID + 'Name').parent().append(
                  '<span class="error text-danger">'+ data.error +'</span>'
                );
              } else {
                $('#' + targetID + 'Modal').modal().hide();
              }
            },
            error: function(xhr, err_msg, err){
              console.log(xhr);
              console.log(err_msg);
              console.log(err);
            }
          });
        } else {
          $('#' + targetID + 'Name').parent().append(
                  '<span class="error text-danger">This field is required</span>'
                );
          $('#' + targetID + 'Name').parent().addClass('has-error');
        }
      }

      {# Submit a new autocomplete term #}
      $('#autocompleteAddTermSubmit').click(function(event){
        addAutocompleteTermAjax('autocompleteAddTerm');
      });
      $('#autocompleteAddUserTermSubmit').click(function(event){
        addAutocompleteTermAjax('autocompleteAddUserTerm');
      });
    </script>
  {% endif %}

  {% if perms.uw_inventory.change_inventoryitem or perms.uw_inventory.add_inventoryitem %}
    <script type="text/javascript">
      {# Handler for changing the state of our checkbox control #}
      $('i.checkbox').click(function(){
        if(!$(this).hasClass('hidden')){
          $(this).toggleClass('fa-square-o');
          $(this).toggleClass('fa-check-square-o');
          $(this).attr('value', $(this).hasClass('fa-check-square-o') ? 'Yes' : 'No');
          {# This custom event will be picked up on the add form and cause special things #}
          $(this).trigger('classChange');
        }
      });
    </script>

    <script type="text/javascript">
      {# Redirect on the cancel button #}
      $('#pageCancel').click(function(){
        window.location = {% url 'uw_inventory.views.inventory_list' %};
      });
    </script>

    <script type="text/javascript">
      {# We want to confirm user intent if they try to navigate away with unsaved changes #}
      var pageDirty = false;
      var targetDestination;
      $('.navigate').parent().click(function(event){
        if(pageDirty){
          event.preventDefault();
          event.stopPropagation();
          targetDestination = event.target.href;
          $('#confirmExitModal').modal('show');
        }
      });

      $('#confirmExitModalContinue').click(function(){
        $('#confirmExitModal').modal('hide');
        window.location = targetDestination || {% url 'uw_inventory.views.inventory_list' %};
      });

      $('#confirmExitModalCancel').click(function(){
        $('#confirmExitModal').modal('hide');
      });
    </script>

    <script type="text/javascript">
      {# Manually define the autocomplete fields #}
      $('input#inputLocation').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'location' %}",
        select: function(event, ui){
          $('input#inputLocation').attr('to-save', ui.item.id)
        }
      });

      $('input#inputManufacturer').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'manufacturer' %}",
        select: function(event, ui){
          $('input#inputManufacturer').attr('to-save', ui.item.id)
        }
      });

      $('input#inputSupplier').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'supplier' %}",
        select: function(event, ui){
          $('input#inputSupplier').attr('to-save', ui.item.id)
        }
      });

      $('input#inputTechnician').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'technician' %}",
        select: function(event, ui){
          $('input#inputTechnician').attr('to-save', ui.item.id)
        }
      });

      $('input#inputOwner').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'owner' %}",
        select: function(event, ui){
          $('input#inputOwner').attr('to-save', ui.item.id)
        }
      });
    </script>

    <script type="text/javascript">
      $('#pageSave').click(function(event){
        {# Because we're not using real form controls for our checkboxes, #}
        {# we need to update the value of the real checkbox control #}
        var checkboxes = $('i.checkbox');
        for(var i = 0; i < checkboxes.length; i++){
          var hidden_input = $('input#' + checkboxes[i].id);
          var checkbox_value = checkboxes[i].getAttribute('value');

          if(checkbox_value === 'Yes'){
            hidden_input.attr('checked', 'checked');
          } else{
            hidden_input.removeAttr('checked');
          }
        }
        $('form#itemForm').submit();
      });
    </script>
  {% endif %}
{% endblock js_includes %}