{% extends 'uw_forms/form_base.html' %}
{% load uw_inventory_modal_tags %}
{% load uw_inventory_model_tags %}
{% load uw_forms_form_tags %}

{% block css_includes %}
  <style type='text/css'>
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
  </style>
  <!-- jQuery UI theme for the autocomplete widget -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
{% endblock css_includes %}

{% block page_body %}
  {% show_notes inventory_item.note_set.all %}
{% endblock page_body %}

{% block modal %}
  {% confirm_modal 'Exit' %}

  {# There must be a better way to do modals... #}
  <div class="modal fade" id="autocompleteAddTermModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form id="autocompleteAddTermForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="termName">Name<span class="text-danger">*</span></label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddTermName"
                     name="termName"
                     placeholder="Name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="autocompleteAddTermSubmit">Add option</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="autocompleteAddUserTermModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form id="autocompleteAddUserTermForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="termName">UW ID<span class="text-danger">*</span></label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermName"
                     name="termName"
                     placeholder="UW ID" />
            </div>
            <div class="form-group">
              <label for="termFirstName">First name</label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermFirstNamee"
                     name="termFirstName"
                     placeholder="First name" />
            </div>
            <div class="form-group">
              <label for="termLastName">Last Name</label>
              <input type="text"
                     class="form-control"
                     id="autocompleteAddUserTermLastName"
                     name="termLastName"
                     placeholder="Last Name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="autocompleteAddUserTermSubmit">Add option</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="newNoteModal" tabindex="-1" role="dialog" aria-labelledby="newNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="newNoteModalLabel">Add a note</h4>
        </div>
        <div class="modal-body row">
          <div class="container col-xs-10 col-xs-offset-1">
            <form id="newNoteForm">
              {% csrf_token %}
              {{ forms.note }}
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" id="newNoteSubmit">Create</button>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}

{% block js_includes %}
  {# Need this for the date formatting on Edit page and for autocomplete widgets #}
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

  <script type="text/javascript">
    var pageDirty = false;
  </script>

  {{ block.super }}
  {% if perms.uw_inventory.add_autocompletedata %}
    <script type="text/javascript">
      {# Launch the modal to add an autocomplete term #}
      $('a.autocomplete-add-term').click(function(event){
        var dataSet = event.target.getAttribute('data-set');
        var targetID;

        switch(dataSet){
          case 'technician': case 'owner':
            targetID = 'autocompleteAddUserTerm'; break;
          default:
            targetID = 'autocompleteAddTerm'; break;
        }


        {# Because we're using one modal to add items to all autocomplete fields, #}
        {# we clear the modal between sessions #}
        $('#' + targetID + 'Name').val('');

        {# We also have to set some of the modal's content dynamically #}
        $('#' + targetID + 'Modal').find('.modal-title')[0].textContent = "Add new " + dataSet;
        $('#' + targetID + 'Modal').modal('show');
        $('#' + targetID + 'Name').focus();
      });

      var addAutocompleteTermAjax = function(targetID){
        $('span.error').remove();
        $('#' + targetID + 'Name').parent().removeClass('has-error');

        var dataSet = $('a.autocomplete-add-term').attr('data-set');
        if(dataSet === 'location'){
          dataSet = 'user'
        }
        var optionName = $('#' + targetID + 'Name').val();
        if(optionName){
          $.ajax({
            url: '{% url "uw_inventory.views.autocomplete_new" %}',
            type: 'POST',
            data: $('#' + targetID + 'Form').serialize() + "&dataSet=" + dataSet,
            success: function(data){
              if(data.error){
                $('#' + targetID + 'Name').parent().addClass('has-error');
                $('#' + targetID + 'Name').parent().append(
                  '<span class="error text-danger">'+ data.error +'</span>'
                );
              } else {
                $('#' + targetID + 'Modal').modal('hide');
              }
            },
            error: function(xhr, err_msg, err){
              console.log(xhr);
              console.log(err_msg);
              console.log(err);
            }
          });
        } else {
          $('#' + targetID + 'Name').parent().append(
                  '<span class="error text-danger">This field is required</span>'
                );
          $('#' + targetID + 'Name').parent().addClass('has-error');
        }
      }

      {# Submit a new autocomplete term #}
      $('#autocompleteAddTermSubmit').click(function(event){
        addAutocompleteTermAjax('autocompleteAddTerm');
      });
      $('#autocompleteAddUserTermSubmit').click(function(event){
        addAutocompleteTermAjax('autocompleteAddUserTerm');
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    $('.file-download').click(function(){
      console.log($(this).attr('data-target'))
      window.location = $(this).attr('data-target');
    });
  </script>

  <script type="text/javascript">
    $('#newNoteSubmit').click(function(event){
      var noteHTML = $(this).parent().siblings('.modal-body').find('form');
      noteHTML.find('.form-errors').remove();
      
      if(!noteHTML.find('#inputTitle').val()){
        noteHTML.find('#inputTitle').after('<ul class="form-errors"><li>This field is required.</li></ul>');
        return;
      }

      var noteJSON = {
        'title': noteHTML.find('#inputTitle').val(),
        'body': noteHTML.find('#inputBody').val(),
        'creation_date': (new Date()).djangoFormat(), {# Date.prorotype.djangoFormat is defined in base.html #}
        'author_id': {{ request.user.id }}
      }

      $.ajax({
        url: '{% url "uw_inventory.views.note_new" %}',
        type: 'POST',
        data: $('#newNoteForm').serialize(),
        success: function(data){
          $('#notes-list').prepend(data);

          var count = $('#notes-form-container').children().length;
          var template = $('#note-template').html();
          var compiledTemplate = template.replace(/__prefix__/g, count)
          $('div#notes-form-container').append(compiledTemplate);

          $('#note-' + count).find('[name="notes-' + count + '-title"]').val(noteJSON.title)
          $('#note-' + count).find('[name="notes-' + count + '-body"]').val(noteJSON.body)
          $('#note-' + count).find('[name="notes-' + count + '-creation_date"]').val(noteJSON.creation_date);
          $('#note-' + count).find('[name="notes-' + count + '-author"]').val(noteJSON.author_id);

          $('#id_notes-TOTAL_FORMS').attr('value', count+1);

          pageDirty = true;
          $(window).trigger('pagechanges', true)

          $('#newNoteModal').find('input.form-control').val('');
          $('#newNoteModal').find('textarea').val('');
          $('#newNoteModal').modal('hide');
        },
        error: function(xhr, msg, err){
          console.log(xhr);
          console.log(msg);
          console.log(err);
        }
      });
    });
  </script>

  <script type="text/html" id="note-template">
    <div id="note-__prefix__" class="field-hidden">
      {{ formsets.note.empty_form }}
    </div>     
  </script>

  <script type="text/html" id="file-template">
    <div id="file-__prefix__">
      {{ formsets.file.empty_form.as_p }}
    </div>     
  </script>

  <script type="text/html" id="file-table-row-template">
    <tr>
      <td class="hidden file-description"></td>
      <td class="hidden file-size"></td>
      <td class="hidden">
        <i class="fa fa-gear file-edit"></i>
      </td>
      <td colspan="2">__form__</td>
      <td>
        <i class="fa fa-check file-save"></i>
        <i class="fa fa-times file-cancel"></i>
      </td>
    </tr>
  </script>

  {% if perms.uw_inventory.change_inventoryitem or perms.uw_inventory.add_inventoryitem %}
    <script type="text/javascript">
      {# We want to confirm user intent if they try to navigate away with unsaved changes #}
      var targetDestination;
      $('.navigate').parent().click(function(event){
        if(pageDirty){
          event.preventDefault();
          event.stopPropagation();
          targetDestination = event.target.href;
          $('#confirmExitModal').modal('show');
        }
      });

      $('#confirmExitModalContinue').click(function(){
        $('#confirmExitModal').modal('hide');
        window.location = targetDestination || {% url 'uw_inventory.views.inventory_list' %};
      });

      $('#confirmExitModalCancel').click(function(){
        $('#confirmExitModal').modal('hide');
      });
    </script>

    <script type="text/javascript">
      {# Manually define the autocomplete fields #}
      $('input#inputLocation').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'location' %}",
        select: function(event, ui){
          $('input#inputLocation').attr('to-save', ui.item.id)
        }
      });

      $('input#inputManufacturer').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'manufacturer' %}",
        select: function(event, ui){
          $('input#inputManufacturer').attr('to-save', ui.item.id)
        }
      });

      $('input#inputSupplier').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'supplier' %}",
        select: function(event, ui){
          $('input#inputSupplier').attr('to-save', ui.item.id)
        }
      });

      $('input#inputTechnician').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'technician' %}",
        select: function(event, ui){
          $('input#inputTechnician').attr('to-save', ui.item.id)
        }
      });

      $('input#inputOwner').autocomplete({
        minLength: 1,
        source: "{% url 'uw_inventory.views.autocomplete_list' 'owner' %}",
        select: function(event, ui){
          $('input#inputOwner').attr('to-save', ui.item.id)
        }
      });
    </script>

    <script type="text/javascript">
      $('#add-file').click(function(){
        var count = $('#id_files-TOTAL_FORMS').attr('value');
        var compiledTemplate = $("#file-template").html().replace(/__prefix__/g, count);
        $('#file-table tr:last').before($('#file-table-row-template').html().replace(/__form__/g, compiledTemplate));
        $('#id_files-TOTAL_FORMS').attr('value', parseInt(count, 10)+1);
      });

      $('#file-table').on('click', 'i.file-cancel', function(){
        $(this).closest('tr').children().toggleClass('hidden');
      });

      $('#file-table').on('click', 'i.file-save', function(){
        var row = $(this).closest('tr');
        var description = row.find('#inputDescription').val();
        var fileSize;

        try{
          fileSize = row.find('[type="file"]')[0].files[0].size;

          if(fileSize >= 1000000000){
            fileSize = (fileSize/1000000000).toFixed(2) + ' G';
          } else if(fileSize >= 1000000){
            fileSize = (fileSize/1000000).toFixed(2) + ' M';
          } else if(fileSize >= 1000){
            fileSize = (fileSize/1000).toFixed(2) + ' K';
          } else{
            fileSize = fileSize.toFixed(2) + ' ';
          }

          fileSize += 'B';
        } catch(e){
          fileSize = 'N/A';
        }

        row.find('.file-description').html(description);
        row.find('.file-size').html(fileSize);
        row.children().toggleClass('hidden');

        var hasChanged = !!row.find('[type="file"]').val() || !!description;
        if(hasChanged){
          row.addClass('warning');
        } else{
          row.removeClass('warning');
        }

        $(window).trigger('pagechanges', hasChanged);
      });

      $('#file-table').on('click', 'i.file-edit', function(){
        var row = $(this).closest('tr');
        row.children().toggleClass('hidden');
      });
    </script>
  {% endif %}
{% endblock js_includes %}