{% extends 'uw_inventory_system/base.html' %}
{% load uw_inventory_misc_tags %}

{% block css_includes %}
  <!-- DataTables -->
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">

  <style type="text/css">
    {# Make the whole row look clickable #}
    table#inventoryTable tbody tr:hover{
      cursor: pointer;
    }
    td.sop-cell{
      text-align: center;
    }
  </style>
{% endblock css_includes %}

{% block navbar_right %}
  {{ block.super }}
{% endblock navbar_right %}

{% block content %}
  <div class="row">
    <table id="inventoryTable" class="table table-condensed table-hover">
      {# There should be a better way to generate this table, but this will do for now #}
      <thead>
        <tr id="column-titles">
          <th class="column-display">SOP</th>
          <th class="column-display">Name</th>
          <th class="column-display">Location</th>
          <th class="column-display">Technician</th>
          <th class="column-display">Owner</th>
          <th class="column-display">Manufacturer</th>
          <th class="column-display">Model</th>

          <th class="column-hidden">Description</th>
          <th class="column-hidden">Technician</th>
          <th class="column-hidden">Owner</th>
          <th class="column-hidden">Technician ID</th>
          <th class="column-hidden">Status</th>
          <th class="column-hidden">Serial Number</th>
          <th class="column-hidden">Manufacture Date</th>
          <th class="column-hidden">Purchase Price</th>
          <th class="column-hidden">Purchase Date</th>
          <th class="column-hidden">Replacement Cost</th>
          <th class="column-hidden">Replacement Cost Estimation Date</th>
          <th class="column-hidden">CSA Required?</th>
          <th class="column-hidden">Factory CSA?</th>
          <th class="column-hidden">CSA Special Required?</th>
          <th class="column-hidden">CSA Special Certification Date</th>
          <th class="column-hidden">Modified Since CSA?</th>
          <th class="column-hidden">Available for Undergraduate?</th>
          <th class="column-hidden">CSA Cost</th>
          <th class="column-hidden">SOP Required?</th>
          <th class="column-hidden">Lifting Device?</th>
          <th class="column-hidden">Lifting Device Inspection Date</th>
          <th class="column-hidden">Comments</th>
          <th class="column-hidden">Notes</th>
        </tr>
        <tr id="column-filters" class="hidden">
          <th><i class="fa-2x checkbox-3"></i></th>
          <th>
            <input type="text" class="form-control input-sm" placeholder="Begin typing..." />
          </th>
          <th>
            <input type="text" class="form-control input-sm" placeholder="Begin typing..." />
          </th>
          <th>
            <input type="text" class="form-control input-sm" placeholder="Begin typing..." />
          </th>
          <th>
            <input type="text" class="form-control input-sm" placeholder="Begin typing..." />
          </th>
          <th>
            <input type="text" class="form-control input-sm" placeholder="Begin typing..." />
          </th>
          <th>
            <input type="text" class="form-control input-sm" placeholder="Begin typing..." />
          </th>
        </tr>
      </thead>
      <tbody>
        {% for item in inventory_list %}
          {% if item.to_display or perms.uw_inventory.view_deleted_item %}
            <tr {% if not item.to_display %}class="disabled"{% endif %}>
              <td class="sop-cell">
                {% if item.sop_file %}
                  <a href="{% url 'uw_file_io.views.file_view' item.sop_file.file_field.name %}">
                    {% contexual_file_icon item.sop_file %}
                  </a>
                {% endif %}
              </td>
              <td>
                {# Have to put the link somewhere #}
                <a class="item-detail" href="{% url 'uw_inventory.views.inventory_detail' item.id %}"></a>
                {{ item.name }}
              </td>
              <td>{{ item.location }}</td>
              <td>{{ item.technician.get_name_display }}</td>
              <td>{{ item.owner.get_name_display }}</td>
              <td>{{ item.manufacturer }}</td>
              <td>{{ item.model_number }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.technician }}</td>
              <td>{{ item.owner }}</td>
              <td>{{ item.tech_id }}</td>
              <td>{{ item.get_status_display }}</td>
              <td>{{ item.serial_number }}</td>
              <td>{{ item.manufacture_date }}</td>
              <td>{{ item.purchase_price }}</td>
              <td>{{ item.purchase_date }}</td>
              <td>{{ item.replacement_cost }}</td>
              <td>{{ item.replacement_cost_date }}</td>
              <td>{{ item.csa_required }}</td>
              <td>{{ item.factory_csa }}</td>
              <td>{{ item.csa_special }}</td>
              <td>{{ item.csa_special_date }}</td>
              <td>{{ item.modified_since_csa }}</td>
              <td>{{ item.undergraduate }}</td>
              <td>{{ item.csa_cost }}</td>
              <td>{{ item.sop_required }}</td>
              <td>{{ item.lifting_device }}</td>
              <td>{{ item.lifting_device_inspection_date }}</td>
              <td>{{ item.get_comments_as_string }}</td>
              <td>{{ item.notes }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %} 

{% block js_includes %}
  <!-- DataTables -->
  <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
  <script src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  <script type="text/html" id="list-toolbar-template">
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" id="show-filters">
        <i class="filter"></i> Show filters
      </button>
      <button class="btn btn-default hidden" id="hide-filters">
        <i class="fa-inverse filter"></i> Hide filters
      </button>
      <button class="btn btn-danger hidden" id="clear-filters">
        <i class="cancel"></i>
        Clear all filters
      </button>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" id="export">
        <i class="download"></i> Export
      </button>
    </div>
  </script>

  <script type="text/javascript">
    var dataTable = $('table#inventoryTable').DataTable({
        'dom': '<"row"<"col-xs-2"l><"col-xs-7 toolbar btn-toolbar"><fr>><"row"t><"row"ip>',
        // Applies sorting to the top row of the thead - needed because we have a second row for searching
        'orderCellsTop': true,
        {# This is how we can search on invisible columns - DataTables magic! #}
        'columnDefs': [{
            'targets': 'column-hidden',
            'visible': false,
          }]
      });
    $('.toolbar').append($('#list-toolbar-template').html());
  </script>
  <script type="text/javascript">
    {# If we click anywhere in a row, we want to trigger the link contained in that row #}
    $('tbody').on('click', 'tr', function(){
      window.location = $(this).find('a.item-detail').attr('href');
    })
  </script>

  <script type="text/javascript">
    $('.checkbox-3').click(function(e){
      var filter_value;
      if($(this).hasClass('unchecked')){ // New state: indeterminate
        $(this).removeClass('unchecked');
        filter_value = '';
      } else if($(this).hasClass('checked')){ // New state: unchecked
        $(this).removeClass('checked').addClass('unchecked');
        filter_value = '^$'; // Filter on empty
      } else{ // New state: checked
        $(this).addClass('checked');
        filter_value = '^.+$'; // Filter on *something*
      }

      var colIndex = $('#column-filters th').index($(this).closest('th'));
      $('#inventoryTable').trigger('filter', [colIndex, filter_value])
    });

    $('#column-filters input').on('input propertychange past', function(e){
      var colIndex = $('#column-filters th').index($(this).closest('th'));
      $('#inventoryTable').trigger('filter', [colIndex, $(this).val()])
    });

    $('#inventoryTable').on('filter', function(event, columnIndex, filter_value){
      switch(parseInt(columnIndex, 10)){
        case 0:
          dataTable.columns(columnIndex).search(filter_value, true, false).draw(); break;
        default:
          dataTable.columns(columnIndex).search(filter_value).draw(); break;
      }

      this.filterActivations = this.filterActivations || {};
      this.filterActivations[columnIndex] = this.filterActivations[columnIndex] || 0;
      
      if(filter_value === ''){
        this.filterActivations[columnIndex] = 0;
      } else{
        this.filterActivations[columnIndex]++;
      }

      var totalActivations = 0;

      for(var key in this.filterActivations){
        totalActivations += this.filterActivations[key];
      }
      console.log(totalActivations)

      if(totalActivations === 0){
        $('#hide-filters').removeClass('disabled');
      } else{
        $('#hide-filters').addClass('disabled');
      }
    });

    $('.toolbar').on('click', '#show-filters', function(){
      $('tr#column-filters').removeClass('hidden');
      $(this).parent().children().toggleClass('hidden');
    });

    $('.toolbar').on('click', '#hide-filters', function(){
      $('tr#column-filters').addClass('hidden');
      $(this).parent().children().toggleClass('hidden');
    });

    $('.toolbar').on('click', '#clear-filters', function(){
      $('#column-filters input').val('');
      $('#column-filters .checkbox-3').removeClass('checked').removeClass('unchecked');

      for (var i = 0; i < $('#column-titles th').length; i++) {
        $('#inventoryTable').trigger('filter', [i, '']);
      };
    });

    $('.toolbar').on('click', '#export', function(){
      window.location = '{% url "uw_file_io.views.export_options" %}'
    });
  </script>
{% endblock js_includes %}