{% extends 'uw_inventory_system/base.html' %}

{% block css_includes %}
  <!-- DataTables -->
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">

  <style type="text/css">
    {# Make the whole row look clickable #}
    table#inventoryTable tbody tr:hover{
      cursor: pointer;
    }
    td.sop-cell{
      text-align: center;
    }
  </style>
{% endblock css_includes %}

{% block navbar_right %}
  {{ block.super }}
{% endblock navbar_right %}

{% block content %}
  <div class="row">
    <table id="inventoryTable" class="table table-condensed table-hover">
      <thead>
        {# There should be a better way to generate this table, but this will do for now #}
        <td>SOP</td>
        <td>Name</td>
        <td>Location</td>
        <td>Technician</td>
        <td>Owner</td>
        <td>Manufacturer</td>
        <td>Model</td>
        <td>Description</td>
        <td>Technician</td>
        <td>Owner</td>
        <td>Technician ID</td>
        <td>Status</td>
        <td>Serial Number</td>
        <td>Manufacture Date</td>
        <td>Purchase Price</td>
        <td>Purchase Date</td>
        <td>Replacement Cost</td>
        <td>Replacement Cost Estimation Date</td>
        <td>CSA Required?</td>
        <td>Factory CSA?</td>
        <td>CSA Special Required?</td>
        <td>CSA Special Certification Date</td>
        <td>Modified Since CSA?</td>
        <td>Available for Undergraduate?</td>
        <td>CSA Cost</td>
        <td>SOP Required?</td>
        <td>Lifting Device?</td>
        <td>Lifting Device Inspection Date</td>
        <td>Notes</td>
      </thead>
      <tbody>
        {% for item in inventory_list %}
          <tr>
            <td class="sop-cell">
              {% if item.sop_file %}
                <a href="{% url 'uw_inventory_system.views.file_view' item.sop_file.file.name %}"><i class="fa fa-file"></i></a>
              {% endif %}
            </td>
            <td>
              {# Have to put the link somewhere #}
              <a class="item-detail" href="{% url 'uw_inventory.views.inventory_detail' item.id %}"></a>
              {{ item.name }}
            </td>
            <td>{{ item.location }}</td>
            <td>{{ item.technician.get_name_display }}</td>
            <td>{{ item.owner.get_name_display }}</td>
            <td>{{ item.manufacturer }}</td>
            <td>{{ item.model_number }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.technician }}</td>
            <td>{{item.owner }}</td>
            <td>{{ item.tech_id }}</td>
            <td>{{ item.get_status_display }}</td>
            <td>{{ item.serial_number }}</td>
            <td>{{ item.manufacture_date }}</td>
            <td>{{ item.purchase_price }}</td>
            <td>{{ item.purchase_date }}</td>
            <td>{{ item.replacement_cost }}</td>
            <td>{{ item.replacement_cost_date }}</td>
            <td>{{ item.csa_required }}</td>
            <td>{{ item.factory_csa }}</td>
            <td>{{ item.csa_special }}</td>
            <td>{{ item.csa_special_date }}</td>
            <td>{{ item.modified_since_csa }}</td>
            <td>{{ item.undergraduate }}</td>
            <td>{{ item.csa_cost }}</td>
            <td>{{ item.sop_required }}</td>
            <td>{{ item.lifting_device }}</td>
            <td>{{ item.lifting_device_inspection_date }}</td>
            <td>{{ item.get_notes_as_string }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %} 

{% block js_includes %}
  <!-- DataTables -->
  <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
  <script src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  <script type="text/javascript">
    $(function () {
      $('table#inventoryTable').DataTable({
        {# This is how we can search on invisible columns - DataTables magic! #}
        'columnDefs': [
          {
            {# Horrible, hardcoded magic... #}
            'targets': [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28],
            'visible': false,
          }
        ]
      });                              
    });
  </script>
  <script type="text/javascript">
    {# If we click anywhere in a row, we want to trigger the link contained in that row #}
    $('tbody tr').click(function(){
      window.location = $(this).find('a.item-detail').attr('href');
    });
  </script>
{% endblock js_includes %}