body {
    padding-top: 0 !important;
}
div#print-header {
	display: initial !important;
}
footer,
i,
div.alert,
#add-comments-container,
.description-teaser,
div#image-add-container,
span.text-danger,
hr,
thead,
nav.affix {
	display: none !important;
}
div.form-container > div {
	margin-left: 0 !important;
	width: 100% !important;
}
form div.list-group-item {
	page-break-inside: avoid;
}
.image-detail {
	display: block !important;
	visibility: visible !important;
}
.singleton-field {
	width: 50%;
	float: left !important;
	height: 100%;
}
p.form-control-static {
	float: right !important;
}
.control-label {
	clear: right;
}