{% extends 'uw_inventory_system/base.html' %}
{% load uw_inventory_misc_tags %}

{% block messages %}
  {% if error %}
    <div class="alert alert-danger alert-dismissible" data-dismiss="alert" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ error }}
    </div>
  {% endif %}
{% endblock messages %}

{% block content %}
  <div class="row">
    <div class="col-xs-offset-4">
      <div>
        <h2>Import Records</h2>
        <p>Please upload a <abbr>*.zip</abbr> file containg the data you want to import.</p>
      </div>
      <form action="{% url 'uw_file_io.views.file_import' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="form-group">
            {{ form.file_up.label }}
            {{ form.file_up }}
            {{ form.file_up.errors }}
          </div>
          <div class="form-group">
            {{ form.model.label }}
            {{ form.model }}
          </div>
        <button type="submit" class="btn btn-primary">{% icon 'upload' %} Import</button>
        {% icon 'hidden spinner fa-2x' %}
      </form>
    </div>
  </div>
{% endblock content %}

{% block js_includes %}
  {{ block.super }}
  
  <script type="text/javascript">
    $('button[type="submit"]').click(function(){
      $(this).siblings('i.spinner').removeClass('hidden');
      $(this).addClass('disabled');
    });
  </script>
{% endblock js_includes %}