<select id="{{ field_id }}"
        class="form-control {% if hide %}hidden{% endif %}"
        name="{{ field_name }}"
        {# The data-default attribute will be compared to the current value to detect changes #}
        data-default="{{ field_value }}">

  {% for key, value in field_options %}
    <option value="{{ key }}"
            {# Force selection for the saved value #}
            {% ifequal field_value value %}selected="selected"{% endifequal %}>
      {{ value }}
    </option>
  {% endfor %}
</select>