/*
 * Defines icon styles for entire project
 */

/* 
 * We're emulating the default FontAwesome styling here,
 * so that we don't need to include class="fa" on all icons
 */
i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i,
.alert-dismissible {
  cursor: pointer;
}
.add-item::after {
  content: "\f055"; /* fa-plus-circle */
}
.cancel::after {
  content: "\f00d"; /* fa-times */
}
.cancel-item::after {
  content: "\f057"; /* fa-times-circle-o */
}
.checkbox-2::after,
.checkbox-3.unchecked::after {
  content: "\f096"; /* fa-square-o */
}
.checkbox-3::after {
  content: "\f147"; /* fa-minus-square-o */
}
.checked::after {
  content: "\f046"; /* fa-check-square-o */
}
.copy::after {
  content: "\f0c5"; /* fa-files-o */
}
.danger::after {
  content: "\f071"; /* fa-exclamation-triangle */
}
.drop-down::after {
  content: "\f0d7"; /* fa-caret-down */
}
.edit::after {
  content: "\f040"; /* fa-pencil */
}
.file-file::after {
  content: "\f016"; /* fa-file-o */
}
.file-excel::after {
  content: "\f1c3"; /* fa-excel-o */
}
.file-word::after {
  content: "\f1c2"; /* fa-word-o */
}
.file-powerpoint::after {
  content: "\f1c4"; /* fa-powerpoint-o */
}
.file-archive::after {
  content: "\f1c6"; /* fa-archive-o */
}
.file-image::after {
  content: "\f1c5"; /* fa-image-o */
}
.file-text::after {
  content: "\f0f6"; /* fa-text-o */
}
.file-pdf::after {
  content: "\f1c1"; /* fa-pdf-o */
}
.download::after,
.file-download::after {
  content: "\f019"; /* fa-download */
}
.file-edit::after {
  content: "\f013"; /* fa-cog */
}
.file-hide::after,
.delete::after {
  content: "\f1f8"; /* fa-trash */
}
.filter::after {
  content: "\f0b0"; /* fa-filter */
}
.help::after {
  content: "\f059"; /* fa-question-circle */
}
.history::after {
  content: "\f1da"; /* fa-history */ 
}
.list::after {
  content: "\f03a"; /* fa-list */
}
.menu-down::after {
  content: "\f078"; /* fa-chevron-down */
}
.menu-up::after {
  content: "\f077"; /* fa-chevron-up */
}
.picture::after {
  content: "\f03e"; /* fa-picture-o */
}
.print::after {
  content: "\f02f"; /* fa-print */
}
.run::after {
  content: "\f04b"; /* fa-play */
}
.restore::after {
  content: "\f0e2"; /* fa-undo */
}
.save::after {
  content: "\f00c"; /* fa-check */
}
.save-item::after {
  content: "\f0c7"; /* fa-floppy-o */
}
.sort-asc::after {
  content: "\f0de"; /* fa-sort-asc */
}
.sort-desc::after {
  content: "\f0dd"; /* fa-sort-desc */
}
.sort::after {
  content: "\f0dc"; /* fa-sort */
}
.spinner::after {
  content: "\f110"; /* fa-spin */
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.lock::after {
  content: "\f023"; /* fa-lock */
}
.unlock::after {
  content: "\f09c"; /* fa-unlock */
}
.upload::after {
  content: "\f093"; /* fa-upload */
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}