{% load uw_forms_field_tags %}

<form {% if target_view %}action="{% url target_view %}"{% endif %}
      method="post"
      id="{{ form_id }}"
      enctype="multipart/form-data">
  {% csrf_token %}

  {% for key,fs in formsets.items %}
    {{ fs.management_form }}
  {% endfor %}

  {% for field in fields %}
      {% show_field field %}
  {% endfor %}

  {% if form.instance.itemfile_set %}
    {% show_files form.instance.itemfile_set.all %}
  {% endif %}

  <div id="notes-form-container">
      
  </div>
</form>