{% load uw_forms_field_tags %}

<form action="{% url target_view instance %}"
      method="post"
      id="{{ form_id }}"
      enctype="multipart/form-data">
  {% csrf_token %}
  {% for key,fs in formsets.items %}
    {{ fs.management_form }}
  {% endfor %}
  {% for field in shown_excluded_fields %}
      {% show_excluded_field field.label field.value %}
  {% endfor %}

  {% for field in fields %}
      {% if field.legacy %}
          {% if field.field.value %}
              {% show_static_field field %}
          {% endif %}
      {% else %}
          {% show_editable_field field can_edit %}
      {% endif %}
  {% endfor %}
  {% show_files form.instance.itemfile_set.all %}
  <div id="notes-form-container">
      
  </div>
</form>