{% load uw_forms_format_tags %}
{% load uw_inventory_misc_tags %}

<tr class="file-row {% if form.errors %}danger{% endif %} {% if not form.instance.to_display %}disabled{% endif %}">
  <td class="file-description">
    <a href="{% url 'uw_file_io.views.file_view' form.instance.file_field.name %}">
      {{ form.instance.get_name_display|filename }}
    </a>
  </td>
  <td class="file-size">{{ form.initial.file_field.size|filesizeformat }}</td>

  {% if can_edit %}
    <td colspan="2" class="hidden">
      {{ form.as_p }}
      <span class="default-description persist-hidden">{{ form.initial.description }}</span>
      <span class="initial-display persist-hidden">{{ form.initial.to_display }}</span>
    </td>
  {% endif %}
  <td class="file-menu">
    {% icon 'file-download' data_target="{% url 'uw_file_io.views.file_download' form.instance.id %}" %}
    {% if can_edit %}
      {% icon 'file_edit' %}
      {% if form.instance.to_display %}
        {% icon 'file-hide' %}
      {% else %}
        {% icon 'restore' %}
      {% endif %}
    {% endif %}
  </td>

  {% if can_edit %}
    <td class="hidden file-menu">
      {% icon 'save' %}
      {% icon 'cancel' %}
      {% if form.instance.to_display %}
        {% icon 'file-hide' %}
      {% else %}
        {% icon 'restore' %}
      {% endif %}
    </td>
  {% endif %}
</tr>