<div class="form-group list-group-item clearfix">
  <div class="col-xs-3">
    <label class="control-label">Files</label>
  </div>
  <div class="col-xs-9">
    <table id="file-table" class="table table-condensed">
      <thead>
        <td>Description <i class="fa fa-sort sort-row pull-right" data-index="0"></i></td>
        <td>Size <i class="fa fa-sort sort-row pull-right" data-index="1"></i></td>
        <td></td>
      </thead>
      <tbody>
        {% for form in forms %}
          {% include 'uw_forms/file_row.html' with form=form %}
        {% endfor %}
        {% if can_add %}
          <tfoot>
            <tr>
              <td align="center" colspan="3">
                <a id="add-file">
                  <i class="fa fa-plus-circle"></i>
                </a>
              </td>
            </tr>
          </tfoot>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>