{% load uw_forms_format_tags %}

<tr {% if form.errors %}class="danger"{% endif %}>
  <td class="file-description">
    <a href="{% url 'uw_inventory_system.views.file_view' form.instance.file.name %}">
      {% if form.initial.description %}
        {{ form.initial.description }}
      {% else %}
        {{ form.initial.file.name|filename }}
      {% endif %}
    </a>
  </td>
  <td class="file-size">{{ form.initial.file.size|filesizeformat }}</td>

  {% if can_edit %}
    <td colspan="2" class="hidden">
      {{ form.as_p }}
      <span class="default-description hidden">{{ form.initial.description }}</span>
    </td>
  {% endif %}
  <td>
    <i class="fa fa-download file-download"
       data-target="{% url 'uw_inventory_system.views.file_download' form.initial.id %}">
    </i>
    {% if can_edit %}<i class="fa fa-gear file-edit"></i>{% endif %}
  </td>

  {% if can_edit %}
    <td class="hidden">
      <i class="fa fa-check file-save"></i>
      <i class="fa fa-times file-cancel"></i>
    </td>
  {% endif %}
</tr>