{% extends 'uw_inventory_system/base.html' %}

{% block messages %}
   {{ block.super }}
    {# Because of how long the InventoryItem form is, it makes more sense to have #}
    {# the 'Unsaved changes' notification scroll with you, so we fix its position. #}
    {# Because of rendering weirdness though, it's behind everything. A stupidly large #}
    {# z-index solves this problem handily #}
    <div class="alert alert-warning hidden" 
         id="pageEditWarning" 
         role="alert"
         style="position:fixed;z-index:100000000000000">
      This page has unsaved changes
    </div>
{% endblock messages %}

{% block content %}
  <div class="row">
    {% if can_edit or can_add %}
      <div class="col-xs-7 col-xs-offset-2">
    {% else %}
      {# Since users who can't edit don't see the affix save button, we expand the window for them #}
      <div class="col-xs-8 col-xs-offset-2">
    {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">{% block page_heading %}{% endblock page_heading %}</div>
            {% block page_body %}
            {% endblock page_body %}
        </div>
    </div>
    {% if can_edit or can_add %}
      <div class="col-xs-1">
        <nav class="affix panel panel-default" data-spy="affix">
          <div class="panel-body">
            <ul class="nav">
              <li>
                <button class="btn btn-success navbar-btn nav-justified" id="pageSave" disabled="disabled">
                  <i class="fa save-item"></i> Save
                </button>
              </li>
              <li>
                <button class="btn btn-danger navbar-btn nav-justified" id="pageCancel">
                  <i class="fa cancel-item"></i> Cancel
                </button>
              </li>
            </ul>
          </div>
          <ul class="list-group">
            {% block gutter_nav %}
            {% endblock gutter_nav %}
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}
{% endblock content %}

{% block js_includes %}
  <script type="text/javascript">
    var changeCount = 0;
    {# In theory, ths pagechanges event should be raised every time the page is modified #}
    $(window).on('pagechanges', function(event, hasChanges){
      {# We're basically keeping a semaphore lock on the EditWarning block #}
      if(hasChanges){
        changeCount++;
      } else{
        changeCount = Math.max(changeCount-1, 0); {# We REALLY don't want to have a negative changeCount #}
      }

      if(changeCount == 0){
        $('#pageEditWarning').addClass('hidden');
        $('#pageSave').attr('disabled', 'disabled');
      } else{
        $('#pageEditWarning').removeClass('hidden');
        $('#pageSave').removeAttr('disabled');
      }
    });
  </script>

  <script type="text/javascript">
    {# This is mostly for the benefit of the SOP field, since dynamically-added fields #}
    {# won't be affected by this #}
    $('[id*="DELETE"], [for*="DELETE"]').addClass('persist-hidden');
  </script>
  
  {% if can_edit or can_add %}
    <script type="text/javascript">
      {# Handler for changing the state of our checkbox control #}
      $('i.checkbox').click(function(){
        if(!$(this).hasClass('hidden')){
          $(this).toggleClass('unchecked');
          $(this).toggleClass('checked');
          $(this).attr('value', $(this).hasClass('checked') ? 'Yes' : 'No');
          {# This custom event will be picked up on the add form and cause special things #}
          $(this).trigger('classChange');
        }
      });
    </script>

    <script type="text/javascript">
      {# Redirect on the cancel button #}
      $('#pageCancel').click(function(){
        window.location = {% url 'uw_inventory.views.inventory_list' %};
      });
    </script>

    <script type="text/javascript">
      $('#pageSave').click(function(event){
        {# Because we're not using real form controls for our checkboxes, #}
        {# we need to update the value of the real checkbox control #}
        var checkboxes = $('i.checkbox');
        for(var i = 0; i < checkboxes.length; i++){
          var hidden_input = $('input#' + checkboxes[i].id);
          var checkbox_value = checkboxes[i].getAttribute('value');

          if(checkbox_value === 'Yes'){
            hidden_input.attr('checked', 'checked');
          } else{
            hidden_input.removeAttr('checked');
          }
        }
        $('form#{{ form_id }}').submit();
      });
    </script>
  {% endif %}
{% endblock js_includes %}