<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    {% block site_title %}
      Inventory Management System
    {% endblock site_title %}
    </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- FontAwesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% block css_includes %}
    {% endblock css_includes %}

    <style type="text/css">
      {# Pushes the whole page down to account for the sticky navigation bar #}
      body{
        padding-top: 70px;
      }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              {% block navbar_right %}
                <li>
                  <a href="{% url 'uw_inventory.views.inventory_add' %}">
                    <i class="fa fa-plus-circle add"></i>
                  </a>
                </li>
              {% endblock navbar_right %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" role="main">

      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          {% if page_messages %}
            {% for msg in page_messages %}
              <div class="alert alert-dismissible alert-{{ msg.class }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ msg.message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block messages %}
          {% endblock messages %}
        </div>
      </div>

      {% block content %}
      {% endblock content %}

      {% block modal %}
      {% endblock modal %}

      <hr>

      <footer>
        <p>&copy; University of Waterloo 2014</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    {% block js_includes %}
    {% endblock js_includes %}
  </body>
</html>