{% load staticfiles %}
{% load uw_users_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    {% block site_title %}
      Inventory Management System
    {% endblock site_title %}
    </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- FontAwesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% block css_includes %}
    {% endblock css_includes %}

    <link rel="stylesheet" href="{% static 'uw_inventory_system/css/icons.css' %}">

    <style type="text/css">
      {# Pushes the whole page down to account for the sticky navigation bar #}
      body {
        padding-top: 70px;
      }
      {# We need this special CSS class because of our indiscriminate hiding/showing of input elements #}
      {# Adding this class makes the element perma-hidden #}
      .persist-hidden {
        display: none!important;
        visibility: hidden!important;
      }
      tr.disabled td {
        background-color: #E5E5E5;
      }
      .modal {
        {# I'm not exactly thrilled about this solution, but we need modals to be 'higher' than messages, #}
        {# otherwise the messages will lay overtop modals and look icky #}
        z-index:100000000000001;
      }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
              {% user_context_menu user %}
            {% endif %}
            {% if perms.uw_inventory.add_inventoryitem %}
              <li>
                <a href="{% url 'uw_inventory.views.inventory_add' %}">
                  <i class="add-item navigate"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" role="main">

      <div class="row">
      {# Because of how long the InventoryItem form is, it makes more sense to have #}
      {# the notification scroll with you, so we fix the position. #}
      {# Because of rendering weirdness though, it's behind everything. A stupidly large #}
      {# z-index solves this problem handily #}
        <div class="col-xs-4 col-xs-offset-4" style="position:fixed;z-index:100000000000000">
          {% if page_messages %}
            {% for msg in page_messages %}
              <div class="alert alert-dismissible alert-{{ msg.class }}" data-dismiss="alert" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ msg.message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block messages %}
          {% endblock messages %}
        </div>
      </div>

      {% block content %}
      {% endblock content %}

      {% block modal %}
      {% endblock modal %}

      <hr>

      <footer>
        <p id="copyright">&copy; University of Waterloo</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      /*
       * Returns a string representing the current Date object, formatted according to Django
       * specifications, i.e. YYY-MM-DD HH:MM:SS
       */
      Date.prototype.djangoFormat = function(){
        var year = this.getFullYear();
        var month = this.getMonth() + 1; {# Date.prototype.getMonth return 0-11 #}
        var day = this.getDate();

        var hours = this.getHours();
        var minutes = this.getMinutes();
        var seconds = this.getSeconds();

        {# Do leading zeroes #}
        if(month < 10) month = "0" + month;
        if(day < 10) day = "0" + day;
        if(hours < 10) hours = "0" + hours;
        if(minutes < 10) minutes = "0" + minutes;
        if(seconds < 10) seconds = "0" + seconds;

        return year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
      }

      if (!String.prototype.endsWith) {
        Object.defineProperty(String.prototype, 'endsWith', {
          value: function(searchString, position) {
            var subjectString = this.toString();
            if (position === undefined || position > subjectString.length) {
              position = subjectString.length;
            }
            position -= searchString.length;
            var lastIndex = subjectString.indexOf(searchString, position);
            return lastIndex !== -1 && lastIndex === position;
          }
        });
      }
    </script>

    <script>
      $('#copyright').append('<span> ' + (new Date()).getFullYear() + '</span>')
    </script>

    {% block js_includes %}
    {% endblock js_includes %}
  </body>
</html>