<li class="dropdown">
    {% if user.is_authenticated %}
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
        Welcome {{ user.get_name_display }} <i class="drop-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'uw_users.views.user_detail' user.username %}">My account</a></li>
          
          {% if 'user_list' in perms %}
            <li><a href="{% url 'uw_users.views.user_list' %}">All users</a></li>
          {% endif %}

          {% if 'admin' in perms %}
              <li class="divider"></li>
              <li><a href="{% url 'admin:index' %}">Django admin</a></li>
          {% endif %}

          <li class="divider"></li>
          <li><a href="{% url 'django_cas.views.logout' %}">Logout</a></li>
      </ul>
    {% else %}
      <a href="{% url 'django_cas.views.login' %}">Login</a>
    {% endif %}
</li>