{% extends 'uw_inventory_system/base.html' %}

{% block css_includes %}
  <!-- DataTables -->
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">

  <style type="text/css">
    {# Make the whole row look clickable #}
    table#userTable tbody tr:hover{
      cursor: pointer;
    }
  </style>
{% endblock css_includes %}

{% block content %}
  <div class="row">
    <table id="userTable" class="table table-condensed table-hover">
      <thead>
        <td>UW ID</td>
        <td>First Name</td>
        <td>Last Name</td>
      </thead>
      <tbody>
        {% for user in user_list %}
          <tr>
            <td>
              <a href="{% url 'uw_users.views.user_detail' user.get_username %}"></a>
              {{ user.get_username }}
            </td>
            <td>
              {{ user.first_name }}
            </td>
            <td>
              {{ user.last_name }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block js_includes %}
  <!-- DataTables -->
  <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
  <script src="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>

  <script type="text/javascript">
    $(function () {
      $('table#userTable').DataTable();                              
    });
  </script>
  <script type="text/javascript">
    {# If we click anywhere in a row, we want to trigger the link contained in that row #}
    $('tbody tr').click(function(){
      window.location = $(this).find('a').attr('href');
    });
  </script>
{% endblock js_includes %}