{% extends 'uw_forms/form_base.html' %}
{% load uw_forms_form_tags %}

{% block page_content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">{{ page_user.username }}</span>
      <span class="small pull-right">Last active: {{ page_user.last_login }}</span>
    </div>
      <form action="{% url 'uw_users.views.user_detail' page_user %}"
        method="post"
        id="userForm">
        {% edit_form form can_edit shown_excluded_fields %}
    </form>
  </div>
{% endblock page_content %}

{% block js_includes %}
  {{ block.super }}
  <script type="text/javascript">
    $('#pageSave').attr('disabled', 'disabled');
    {# As with the paragraphs in the add page, it's easier to hide the form elements here than with Django #}
    $('.item-input').addClass('hidden');
  </script>

  <script type="text/javascript">
    {# This function performs all the magic of adding and removing edit states #}
    var editClickHandler = function(context){
      var editTarget = context.attr('for');
      var paragraph = $('p#' + editTarget);
      paragraph.toggleClass('hidden');
      {# We're using broad stroked to render the input elements visible, which will bite us later #}
      paragraph.siblings().toggleClass('hidden');
      editMenuToggle(editTarget);
    }

    var editMenuToggle = function(editTarget){
      {# We could have used a class rather than the for attribute, but this is more semantically meaningful #}
      $('i[for="' + editTarget + '"]').toggleClass('hidden');
      $('.form-element#' + editTarget).focus(); {# Autofocus for usability goodness #}
    }

    $('.edit').click(function(){
      editClickHandler($(this));
    });

    $('.cancel').click(function(){
      editClickHandler($(this));
    });

    $('.save').click(function(){
      var paragraph = $('p#' + $(this).attr('for'));

      {# This line looks up from the pragraph for the parent div, then down for the input element #}
      var inputControl = paragraph.closest('div').find('.form-element');
      var original = inputControl.parents('div.form-group').find('span.default-value')[0].textContent.trim();
      var saveText; {# This will eventually go in the "saved" <p> tag text #}

      if(inputControl.is('select')){
        {# inputControl was formerly the select box itself, but we need the selected option #}
        inputControl = inputControl.find('option:selected');

        saveText = inputControl[0].text;
      } else if(inputControl.is('input[type="date"]')){
        {# Need to do this because sending the string alone into the Date constructor will #}
        {#   interpret the data as UTC, but we want it to be Eastern time #}
        var dateStr = inputControl[0].value;
        if(dateStr){
          var dateArr = dateStr.split('-');
          var date = new Date(dateArr[0], dateArr[1] - 1, dateArr[2]);

          {# Keeps a consistent formatting on the date. We could do this with native JS, but this is cleaner #}
          saveText = $.datepicker.formatDate('M. d, yy', date);
        } else{
          saveText = '';
        }
      } else if(inputControl.is('i.checkbox-2')){
        saveText = (inputControl.hasClass('checked') ? 'Yes' : 'No');
      } else if(inputControl.is('.ui-autocomplete-input')){
        saveText = (inputControl[0].value == inputControl.placeholder ? '' : inputControl[0].value);
        var toSave;
        if(saveText === ''){
          toSave = '';
        } else {
          toSave = inputControl.attr('to-save');
        }
        {# More magic here, because the autocomplete widget sends the name value but we need the id #}
        inputControl[1].setAttribute('value', toSave);
      } else {
        {# We don't want to display placeholder text #}
        saveText = (inputControl[0].value == inputControl.placeholder ? '' : inputControl[0].value);
      }

      hasChanged = (saveText !== original) {# Here, blank values are considered a change #}
      
      if(hasChanged){ {# Have we made a change? #}
        inputControl.parents('div.form-group').addClass('list-group-item-warning has-warning');
      } else{ {# Are we back to original? #}
        inputControl.parents('div.form-group').removeClass('list-group-item-warning has-warning');
      }

      $(window).trigger('pagechanges', hasChanged)

      paragraph[0].textContent = saveText;

      editClickHandler($(this));
    });
  </script>
{% endblock js_includes %}